-
  var data = docsContent || 'заполненное заявление, загранпаспорт и его копия, две фотографии 3 на 4 см, квитанция об оплате пошлины.'

// infoDocs
+b('infoDocs', '', 'div')
  +e('label', '', 'span') Необходимые документы:
  | !{' ' + data}