-
  var content = [
  {
  title: 'Выбор недвижимости',
  id: 'realty-choice',
  items: [
  {
  title: 'Выбираем объект',
  body: '<p>Подберите объект по параметрам на нашем сайте или оставьте заявку. Наши специалисты подберут то жилье, которое будет соответствовать вашим критериям.</p>'
  },
  {
  title: 'Осмотр выбранного объекта',
  body: '<p>Недвижимость – крупное приобретение, которое обычно не совершается вслепую. Мы настоятельно советуем выделить время и съездить в Испанию, чтобы осмотреть все выбранные объекты и принять окончательное решение. Даже при наличии большого количества фотографий вы не застрахованы от подводных камней.</p>'
  },
  {
  title: 'Бронируем жилье',
  body: '<p>После того, как вы нашли недвижимость своей мечты, можно зарезервировать ее. Договор резервации заключается между покупателем и собственником жилья, агентством недвижимости или застройщиком. В договоре прописывается цена объекта и оговариваются сроки выхода на подписание купчей.<br>' +
  'При этом покупатель вносит залог в размере 1-1,5% от стоимости жилья, обычно для квартиры достаточно 3000 евро. После заключения Договора объект снимается с продажи. Если покупатель решит отказаться от приобретения объекта, залог останется у продавца.</p>'
  }
  ],
  otherInfo: false
  },

  {
  title: 'Подготовка к сделке',
  id: 'deal-preparation',
  items: [
  {
  title: 'Получаем NIE',
  body: '<p>После того, как объект выбран, первым делом необходимо получить идентификационный номер иностранца (Número de Identificación de Extranjero, NIE). Без этого документа в Испании нельзя совершить ни одного юридически значимого действия – ни купить недвижимость, ни открыть счет в банке.</p>' +
  '<p>NIE можно получить непосредственно в Испании либо в консульстве Испании в России. Договор о резервации недвижимости – законное основание для его получения. В соответствии с законодательством, номер NIE присваивается в течение 5 рабочих дней, но на практике случаются задержки.</p>',
  docs: 'заполненное заявление, загранпаспорт и его копия, две фотографии 3 на 4 см, квитанция об оплате пошлины. '
  },
  {
  title: 'Открываем счет в испанском банке',
  body: '<p>Счет необходим для расчета с продавцом, а в дальнейшем – для уплаты налогов и коммунальных платежей. Открывать счет лучше в том банке, где вы собираетесь брать ипотеку. Если ипотека не нужна, выбор банка обуславливается только привлекательностью его тарифов на обслуживание счетов физических лиц. Открытие счета обычно происходит в течение часа.</p>',
  docs: 'российский и заграничный паспорта и договор о резервации недвижимости, справку о доходах или налоговую декларацию.'
  },
  {
  title: 'Проверка статуса невижимости',
  body: '<p>Процедура покупки недвижимости в Испании включает проверку юридического статуса недвижимости: каков ее точный метраж, кто ее собственник, нет ли неоплаченных счетов и долгов. Вся информация содержится в выписке из реестра недвижимости, которую можно заказать лично или через интернет и получить в течение 1-2 дней.</p>'
  },
  {
  title: 'Договор о резервировании жилья',
  body: '<p>Если отсутствовал договор о резервации, происходит подписание предварительного договора. В нем указываются данные: цена, форма оплаты, срок совершения сделки. При этом покупатель вносит 10% от суммы, подлежащей оплате. В случае если он передумает приобретать эту недвижимость, залог останется у продавца. А если покупку заблокирует продавец, он выплатит покупателю залог в двойном размере.</p>'
  }
  ],
  otherInfo: {
  isItemEl: true,
  content: '<h4>Ипотека</h4>' +
  '<p>Многие россияне интересуются, как купить квартиру в Испании в ипотеку. Испанские банки предоставляют 50-60% от стоимости жилья на срок от 10 до 30 лет под 3,2-4% годовых. Таким образом, первый взнос составит около половины суммы или меньше.<br>' +
  'По общеевропейскому правилу выплаты по ипотеке не могут превышать 30% дохода. Иными словами, необходимо зарабатывать в 3 раза больше, чем составляет ежемесячный платеж.</p>' +
  '<p>Процесс оформления кредита занимает до одного месяца.<br><strong>Расходы на сделку.</strong> Издержки заемщика выражаются в комиссии банка в размере 1–2 % и гербовом сборе в размере 0,1-2% от суммы кредита. Отдельно оплачиваются оценка недвижимости (200-500 евро) и ее страхование (200-300 евро в год). </p>',
  docs: 'справка с работы, налоговая декларация, выписки с банковского счета, документов о владении недвижимостью или акциями.'
  }
  },

  {
  title: 'Заключение сделки',
  id: 'deal',
  items: [
  {
  title: 'Подписание договора купли-продажи',
  body: '<p>Когда все документы готовы, наступает стадия оформления сделки: необходимо перечислить оставшуюся часть суммы на счет продавца и подписать договор купли-продажи в присутствии нотариуса. Покупатель подписывает документы с владельцем недвижимости или компанией-застройщиком. Любая сторона или обе стороны могут доверить подписание договора третьим лицам (например, агентству недвижимости), оформив нотариальную доверенность.</p>'
  },
  {
  title: 'Оплата регистрационных налогов и сборов',
  body: '<p>В течение 30 дней после совершения сделки необходимо оплатить налоги и направить бумаги на регистрацию права на недвижимость.</p>' +
  '<p>К налогам относятся: <br>' +
  '1) НДС и гербовый сбор при покупке жилья на первичном рынке (10% + 0,5-1,5%), либо налог на передачу права собственности при покупке жилья на вторичном рынке (6-10%) <br>' +
  '2) Регистрационные расходы (0,02-0,175%)</p>'
  },
  {
  title: 'Получение свидетельства о праве собственности',
  body: '<p>Чтобы получить свидетельство о праве собственности необходимо обратиться в реестр с оригиналом договора и документами об уплате налогов. Через 2-3 месяца покупатель получает договор обратно, а с ним и выписку из реестра.</p>'
  }
  ],
  otherInfo: {
  isItemEl: false,
  content: '<h3>Налоги</h3>' +
  '<dl>' +
  '<dt>Налог на добавленную стоимость (IVA)</dt>' +
  '<dd> - оплачивается покупателем при приобретении жилья от застройщика и составляет 10% от стоимости жилья. Данный налог оплачивается в момент подписания нотариального акта купли-продажи.</dd>' +
  '<dt>Налог на передачу собственности (ITP)</dt>' +
  '<dd> - оплачивается покупателем при приобретении жилья на вторичном рынке. Процент данного налога варьируется от 6% до 10% в зависимости от автономной области. В Валенсии налог на передачу собственности составляет 10% и оплачивается в течении месяца с момента подписания нотариального акта купли-продажи.</dd>' +
  '</dl>' +
  '<h3>Дополнительные расходы</h3>' +
  '<dl>' +
  '<dt>Нотариальные расходы</dt>' +
  '<dd> - оплачиваются покупателем и связаны с нотариальным оформлением сделки купли-продажи. Сумма расходом варьируется от стоимости жилья и от установленных тарифов нотариальных контор\n</dd>' +
  '<dt>Регистрационные расходы</dt>' +
  '<dd> - оплачиваются покупателем и связаны с регистрацией приобретенной недвижимости в Реестре собственности. Сумма расходом варьируется от стоимости жилья и установленных тарифов.\n</dd>' +
  '<dt>Услуги риэлтора</dt>' +
  '<dd> - услуги риэтора составляют 3% от стоимости жилья и оплачиваются покупателем\n</dd>' +
  '</dl>' +
  '<p><b>Общая сумма налогов и расходов при покупки жилья в Испании составляет 11% — 15%</b></p>'
  }
  },

  {
  title: 'Владение собственностью',
  id: 'after-sales-service',
  items: [
  {
  body: '<p>Ежегодный муниципальный налог на недвижимость (IBI) - ежегодный налог на недвижимость устанавливается муниципалитетом, составляет в среднем 0,4% - 1,1% от кадастровой стоимости недвижимости на 1 января отчетного года.</p>',
  },
  {
  body: '<p>Налог на доходы нерезидентов (IRNR) - нерезидент-владелец недвижимости обязан подавать декларацию IRNR. Если недвижимость не сдается в аренду, а используется владельцем для собственного проживания декларация подается один раз в год. Если недвижимость сдана в аренду, декларация подается поквартально. Размер налога рассчитывается в зависимости от кадастровой стоимости, суммы арендной платы и ряда условий, которые необходимо уточнять в каждом конкретном случае.</p>',
  },
  {
  body: '<p>Расходы, связанные с владением имущества включают в себя жилищно - коммунальные услуги и содержание дома и придомовой территории.</p>' +
  '<h5>Жилищно - коммунальные услуги:</h5>' +
  '<ul>' +
  '<li><strong>Электроэнергия:</strong> оплата за электроэнергию производится по счетчику плюс минимальная фиксированная абонентская плата. Семье из 4 человек в средней квартире расходует электроэнергии примерно 45-50 евро в месяц.</li>' +
  '<li><strong>Вода:</strong> оплата за воду производится по счетчику плюс минимальная фиксированная абонентская плата. Примерный счет за воду составляет 15 евро в месяц.\n</li>' +
  '<li><strong>Газ:</strong> нагрев воды и отопление осуществляется посредством газа. Оплата производится по счетчику. Примерная стоимость газа в месяц составляет 20-25 евро</li>' +
  '</ul>' +
  '<p>Содержание дома и придомовой территории включает в себя расходы на уборку подъезда и территории жилого комплекса, освещение подъезда, техническое обслуживание лифта, консьерж услуги, содержание и обслуживание спортивного зала, сауны и социального клуба. Чем больше спектр сервиса жилого комплекса, тем дороже его обслуживание. Средняя стоимость варьируется от 50 до 200 евро в месяц.</p>',
  },
  ]
  }

  ]


// infoMain
+b('infoMain', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('list', '', 'ol')
      for item in content
        - infoMainItemData = item
        +e('item')
          include info-main-item