-
  var stages = [
  {
  title: 'Выбор недвижимости',
  anchor: '#realty-choice',
  img: 'realty-choice.jpg',
  list: [
    'Подбор объектов недвижимости на основании критериев клиента',
    'Посещение объектов в Испании',
    'Бронирование объекта недвижимости',
  ]
  },
  {
  title: 'Подготовка к сделке',
  anchor: '#deal-preparation',
  img: 'deal-preparation.jpg',
  list: [
    'Открытие счета в испанском банке',
    'Получение ИНН',
    'Проверка юридического статуса сделки',
    'Подписание предварительного договора купли-продажи',
  ]
  },
  {
  title: 'Заключение сделки',
  anchor: '#deal',
  img: 'deal.jpg',
  list: [
    'Подписание нотариального договора купли-продажи',
    'Оплата налогов',
    'Регистрация права собственности',
  ]
  },
  {
  title: 'Постпродажный сервис',
  anchor: '#after-sales-service',
  img: 'after-sales-service.jpg',
  list: [
    'Оформление/переоформление договоров на жилищно-коммунальные услуги',
    'Оформление прописки',
    'Получение нотариального акта купли-продажи',
  ]
  },
  ]

// infoStagesPreview
+b('infoStagesPreview', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') Этапы покупки недвижимости
    nav
      +e('list', '', 'ul')
        for item, index in stages
          -
            var stagePreviewData = item;
            var stagePreviewMod = '';
            if (index % 2) {
              stagePreviewMod = 'inverse';
            };
            if (index + 1 === stages.length) {
              stagePreviewMod = stagePreviewMod + '.withoutLine'
            }
          +e('item')
            include ./info-stages-preview-item

    +e('buttonWrapper')
      +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--questions") Получить консультацию