-
  // data example
  var dataExample = {
    title: 'Выбор недвижимости',
    anchor: '#realty-choice',
    img: 'realty-choice.jpg',
    list: [
    'Подбор объектов недвижимости на основании критериев клиента',
    'Посещение объектов в Испании',
    'Бронирование объекта недвижимости',
    ]
  };

  var data = stagePreviewData || dataExample
  stagePreviewMod = stagePreviewMod || '';

// infoStagesPreviewItem
+b('infoStagesPreviewItem', {m: stagePreviewMod}, 'a')(href=data.anchor data-scroll)
  +e('main', '', 'div')
    +e('title')= data.title
    +e('body')
      ul
        for i in data.list
          li= i
    +e('link') Читать подробнее

  +e('image', '', 'div'): img(src="./files/info-stages/"+data.img alt="")
