-
  var dataExample = {
    title: '',
    id: '',
    items: [
    {
      title: '',
      body: '',
      docs: '',
    },
    ],
    otherInfo: {
      isItemEl: false,
      content: '',
      docs: ''
    }
  }

  var data = infoMainItemData || dataExample

// infoMainItem
+b('infoMainItem', '', 'section')
  +b('anchor')(id=data.id)
  +e('title', '', 'h2') !{data.title}
  h3.visually-hidden Этапы
  +e('list', '', 'ol')
    for i in data.items
      +e('item')
        h4 !{i.title}
        | !{i.body}

        if i.docs
          - docsContent = i.docs
          include ./info-main-item-docs

  if data.otherInfo
    - info = data.otherInfo
    +e('otherInfo', {m: info.isItemEl ? 'itemEl' : ''})
      | !{info.content}
      if info.docs
        - docsContent = info.docs
        include ./info-main-item-docs
