body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-text;
  color: $color-text;
  font-weight: 500;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  color: $color-link;
  text-decoration: underline;
  text-decoration-color: rgba($color-link, 0.3);
  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  color: $color-title;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
}

h1 {
  color: $color-title;
  font-family:  $font-title;
  font-size: 74px;

  @include media(mtp) {
    font-size: 64px;
  }

  @include media(msl) {
    font-size: 60px;
  }

  @include media(msp) {
    font-size: 44px;
  }
}

h2 {
  font-size: 46px;

  @include media(mtp) {
    font-size: 40px;
  }

  @include media(msl) {
    font-size: 28px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 0.5em;

  @include media(msd-2) {
    font-size: 24px;
  }

  @include media(msp) {
    font-size: 22px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}



.anchor {
  position: relative;
  top: -80px;
}

.noScroll {
  overflow: hidden;
}

.spoiler {
  padding: 0;
  margin-left: auto;
  display: block;
  text-align: right;
  color: $color-style;
  line-height: 1;
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 600;
  outline: none;

  @include media(msp) {
    font-size: 12px;
  }

  &:focus {
    border-bottom: 1px dotted rgba($color-style, 0.7);
  }
}


[data-text-spoiler] {
  overflow: hidden;
  transition-duration: 0.3s;
}
