@mixin media($break-point) {
  @if $break-point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
    only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
    only screen and (min-resolution: 2dppx) {
      @content;
    }
  }
  @if $break-point == md {
    @media screen and (min-width: ($md+100px)) {
      @content;
    }
  }

  @if $break-point == msd {
    @media screen and (max-width: ($msd+-1)) {
      @content;
    }
  }
  @if $break-point == msd-2 {
    @media screen and (max-width: ($msd-2 + -1)) {
      @content;
    }
  }

  @if $break-point == mtl {
    @media screen and (max-width: ($msd-3 + -1)) {
      @content;
    }
  }
  @if $break-point == mtl-only {
    @media screen and (max-width: ($msd-3 + -1)) and (min-width: $mtl) {
      @content;
    }
  }
  @if $break-point == mtp {
    @media screen and (max-width: ($mtl+-1)) {
      @content;
    }
  }
  @if $break-point == mtp-only {
    @media screen and (max-width: ($mtl+-1px)) and (min-width: $mtp) {
      @content;
    }
  }
  @if $break-point == msl {
    @media screen and (max-width: ($mtp+-1px)) {
      @content;
    }
  }
  @if $break-point == msl-only {
    @media screen and (max-width: ($mtp+-1px)) and (min-width: $msl) {
      @content;
    }
  }
  @if $break-point == msp {
    @media screen and (max-width: ($msl+-1px)) {
      @content;
    }
  }
}

@mixin grid {
  box-sizing: border-box;
  max-width: $md;
  margin-right: auto;
  margin-left: auto;

  @include media(mtl) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@mixin disable-grid {
  max-width: unset;

  @include media(mtl) {
    padding-right: initial;
    padding-left: initial;
  }

  @include media(msl) {
    padding-right: initial;
    padding-left: initial;
  }
}

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin usual-list($offset: true) {
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0;
    list-style-type: none;

    @if ($offset == false) {
      margin-left: -20px;
    }

    > li {
      padding-left: 20px;
      position: relative;
      margin-bottom: 0.8em;

      &::before {
        content: '';
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-accent;


      }
    }

    @content;
  }
}

@mixin base-ol {
  ol {
    padding-left: 0;
    list-style-type: none;
    counter-reset: num;

    > li {
      padding-left: 35px;
      position: relative;
      margin-bottom: 1.125em;
      counter-increment: num;

      &::before {
        content: counter(num)'.';
        position: absolute;
        top: -0.22em;
        left: 0;
        font-size: 24px;
        line-height: 1;
        font-weight: 800;
        color: $color-accent;
      }
    }

    @content;
  }
}

@mixin link-hover {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%);
    bottom: -1px;
    transition-duration: 0.3s;
  }

  &:hover {
    &::after {
      right: 0;
    }
  }
}

@mixin visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  position: absolute;
}

@mixin visually-hidden-reset {
  width: auto !important;
  height: auto !important;
  clip: auto !important;
  position: static !important;
}

.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  position: absolute !important;
}