@lost flexbox flex;

//$mb-resp: 2.463328vw;

$md: 1170px;

$msd: 1650px;
$msd-2: 1440px;
$msd-3: 1200px;
$mtl: 960px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;


$font-text: 'Montserrat', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-menu: $font-text;


$color-style: #4575e0;
$color-accent: #fcbb01;
$color-err: #df4343;
$color-success: #43df5d;

$color-bg-light: #f2f4f9;
$color-bg-footer: #23252a;

$color-text: #1f223c;
$color-text-light: #999aa8;
$color-text-light-2: #9497a1;
$color-text-footer: #99a5b1;
$color-text-input: #3f3356;
$color-text-style: #6979F8;
$color-placeholder: #d0c9d6;
$color-title: #171e6d;

$color-link: $color-style;
$color-button: $color-style;
$color-button-empty: $color-style;

$color-header-border: #3d3f51;


$shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
$shadow-button: 0 13px 20px rgba(118, 133, 196, 0.41);
$shadow-body: 10px 10px 30px rgba(149, 149, 149, 0.2);
$shadow-body-inset: inset 25px 25px 30px -20px rgba(149,149,149,.2);
$shadow-big: 32px 24px 40px rgba(0, 0, 0, 0.09);
$shadow-big-inset: inset 15px 15px 40px -20px rgba(0,0,0,.09);
$shadow-pager: 0px 3px 8px rgba(0, 0, 0, 0.08);
$shadow-pager-active: 0px 8px 15px rgba(31, 34, 60, 0.15);
$shadow-listing-card: 0px 4px 30px rgba(0, 0, 0, 0.15);



$icon-mob-menu-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cpath id='a' d='M220.56 56h8.88c.31 0 .56-.224.56-.5s-.25-.5-.56-.5h-8.88c-.31 0-.56.224-.56.5s.25.5.56.5z'/%3E%3Cpath id='b' d='M220.531 60h5.938c.293 0 .531-.224.531-.5s-.238-.5-.531-.5h-5.938c-.293 0-.531.224-.531.5s.238.5.531.5z'/%3E%3Cpath id='c' d='M220.506 64h3.988c.28 0 .506-.224.506-.5s-.227-.5-.506-.5h-3.988a.503.503 0 0 0-.506.5c0 .276.227.5.506.5z'/%3E%3C/defs%3E%3Cuse fill='%23ffffff' xlink:href='%23a' transform='translate(-220 -55)'/%3E%3Cuse class='mobMenu__line mobMenu__line--2' fill='%23ffffff' xlink:href='%23b' transform='translate(-220 -55)'/%3E%3Cuse class='mobMenu__line mobMenu__line--3' fill='%23ffffff' xlink:href='%23c' transform='translate(-220 -55)'/%3E%3C/svg%3E");
$icon-small-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10' height='7'%3E%3Cdefs%3E%3Cpath id='a' d='M546 1188l6 7 6-7z'/%3E%3C/defs%3E%3Cuse fill='%236979f8' xlink:href='%23a' transform='translate(-547 -1188)'/%3E%3C/svg%3E");
$icon-title-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21' height='13' viewBox='0 0 21 13'%3E%3Cdefs%3E%3Cpath id='yxfea' d='M425 2735l6 8.571h-5.143v11.143a.857.857 0 1 1-1.714 0v-11.143H419z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='rotate(90 1587 1168.5)'%3E%3Cg%3E%3Cuse fill='%234575e0' xlink:href='%23yxfea'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$icon-map-pointer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='14' viewBox='0 0 12 14'%3E%3Cdefs%3E%3Cpath id='ocdsa' d='M629.995 1192.904c-.94 0-1.71-.769-1.71-1.709 0-.94.77-1.71 1.71-1.71s1.71.77 1.71 1.71-.77 1.71-1.71 1.71zm.005-7.704c-3.343 0-6 2.657-6 6 0 1.629.6 3.171 1.8 4.286.086.085 3.514 3.171 3.6 3.257.343.257.857.257 1.114 0 .086-.086 3.6-3.172 3.6-3.257 1.2-1.115 1.8-2.657 1.8-4.286.086-3.343-2.571-6-5.914-6z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='translate(-624 -1185)'%3E%3Cuse fill='%236979f8' xlink:href='%23ocdsa'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='15' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cpath id='v0sya' d='M463.718 28.1h17.764c.617 0 1.118-.224 1.118-.5s-.501-.5-1.118-.5h-17.764c-.617 0-1.118.224-1.118.5s.501.5 1.118.5z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='rotate(45 264.142 -543.805)'%3E%3Cuse fill='%23171e6d' xlink:href='%23v0sya'/%3E%3C/g%3E%3Cg transform='rotate(-45 215.858 578.805)'%3E%3Cuse fill='%23171e6d' xlink:href='%23v0sya'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$icon-close-white: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15' height='15' viewBox='0 0 15 15'%3E%3Cdefs%3E%3Cpath id='v0sya' d='M463.718 28.1h17.764c.617 0 1.118-.224 1.118-.5s-.501-.5-1.118-.5h-17.764c-.617 0-1.118.224-1.118.5s.501.5 1.118.5z'/%3E%3C/defs%3E%3Cg%3E%3Cg transform='rotate(45 264.142 -543.805)'%3E%3Cuse fill='%23ffffff' xlink:href='%23v0sya'/%3E%3C/g%3E%3Cg transform='rotate(-45 215.858 578.805)'%3E%3Cuse fill='%23ffffff' xlink:href='%23v0sya'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
$icon-on-map: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.943 6.424c.081.635.242 1.307.478 1.996.324.945.782 1.896 1.36 2.824a18.479 18.479 0 0 0 2.678 3.315c.279.276.648.429 1.041.429.393 0 .762-.153 1.041-.43a18.477 18.477 0 0 0 2.678-3.314 13.845 13.845 0 0 0 1.36-2.824c.236-.69.396-1.361.478-1.996.056-.437.056-.718.053-.817a5.59 5.59 0 0 0-1.643-3.95A5.59 5.59 0 0 0 7.5.012a5.59 5.59 0 0 0-3.967 1.643 5.59 5.59 0 0 0-1.644 3.95c-.002.1-.002.381.054.818zm5.841 7.372a.402.402 0 0 1-.568 0C2.81 9.425 2.964 5.626 2.964 5.623a4.536 4.536 0 1 1 9.072 0c0 .003.153 3.802-4.252 8.173z' fill='%236979F8'/%3E%3Cpath d='M7.5 15c-.396 0-.769-.154-1.05-.432a18.497 18.497 0 0 1-2.68-3.318 13.86 13.86 0 0 1-1.36-2.826 10.228 10.228 0 0 1-.48-1.999 5.594 5.594 0 0 1-.053-.819 5.603 5.603 0 0 1 1.647-3.96A5.603 5.603 0 0 1 7.5.001a5.604 5.604 0 0 1 3.976 1.647 5.604 5.604 0 0 1 1.647 3.96c.002.1.002.382-.054.818a10.221 10.221 0 0 1-.479 1.999 13.857 13.857 0 0 1-1.36 2.826 18.494 18.494 0 0 1-2.68 3.318A1.481 1.481 0 0 1 7.5 15zM7.5.025a5.578 5.578 0 0 0-3.958 1.64 5.578 5.578 0 0 0-1.64 3.941c-.003.101-.002.381.053.816a10.2 10.2 0 0 0 .478 1.993c.324.945.78 1.895 1.359 2.822a18.468 18.468 0 0 0 2.676 3.313c.276.274.643.425 1.032.425.39 0 .756-.151 1.032-.425a18.466 18.466 0 0 0 2.676-3.313 13.838 13.838 0 0 0 1.359-2.822c.235-.688.396-1.359.477-1.993.056-.434.056-.715.054-.815a5.578 5.578 0 0 0-1.64-3.942A5.578 5.578 0 0 0 7.5.025zm0 13.9a.414.414 0 0 1-.293-.12C2.82 9.453 2.949 5.66 2.95 5.623A4.554 4.554 0 0 1 7.5 1.074a4.554 4.554 0 0 1 4.549 4.55c.001.038.032.971-.476 2.453-.297.87-.72 1.746-1.256 2.606a17.42 17.42 0 0 1-2.524 3.122.414.414 0 0 1-.293.12zM7.5 1.1a4.529 4.529 0 0 0-4.524 4.524c0 .01-.034.964.475 2.448.297.868.72 1.743 1.254 2.6a17.398 17.398 0 0 0 2.52 3.116.389.389 0 0 0 .55 0 17.391 17.391 0 0 0 2.521-3.118c.535-.858.957-1.734 1.254-2.601.405-1.182.487-2.116.474-2.444A4.529 4.529 0 0 0 7.5 1.099z' fill='%236979F8'/%3E%3Cpath d='M9.987 2.991A3.504 3.504 0 0 0 7.5 1.961a3.496 3.496 0 0 0-2.488 1.03 3.505 3.505 0 0 0-1.03 2.487 3.496 3.496 0 0 0 1.03 2.488A3.504 3.504 0 0 0 7.5 8.996a3.497 3.497 0 0 0 2.487-1.03 3.505 3.505 0 0 0 1.03-2.488 3.495 3.495 0 0 0-1.03-2.487zM7.5 7.921a2.443 2.443 0 1 1 0-4.886 2.443 2.443 0 0 1 0 4.887z' fill='%236979F8'/%3E%3Cpath d='M7.5 9.008a3.51 3.51 0 0 1-2.496-1.034A3.517 3.517 0 0 1 3.97 5.478a3.508 3.508 0 0 1 1.034-2.496A3.517 3.517 0 0 1 7.5 1.948a3.51 3.51 0 0 1 2.496 1.034 3.518 3.518 0 0 1 1.034 2.496 3.51 3.51 0 0 1-1.034 2.496A3.517 3.517 0 0 1 7.5 9.008zm0-7.035A3.484 3.484 0 0 0 5.02 3a3.492 3.492 0 0 0-1.026 2.478A3.483 3.483 0 0 0 5.02 7.956 3.492 3.492 0 0 0 7.5 8.983a3.484 3.484 0 0 0 2.478-1.027 3.492 3.492 0 0 0 1.027-2.478A3.485 3.485 0 0 0 9.978 3 3.492 3.492 0 0 0 7.5 1.973zm0 5.96a2.458 2.458 0 0 1-2.456-2.455A2.458 2.458 0 0 1 7.5 3.023a2.458 2.458 0 0 1 2.455 2.455A2.458 2.458 0 0 1 7.5 7.934zm0-4.885c-1.34 0-2.43 1.09-2.43 2.43s1.09 2.43 2.43 2.43 2.43-1.09 2.43-2.43-1.09-2.43-2.43-2.43z' fill='%236979F8'/%3E%3C/svg%3E");
$icon-tick: url("data:image/svg+xml,%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='.5' y='.5' width='18' height='18' rx='2.5' stroke='%23171E6D'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M6.72 13.096l.354.353.353-.353 7.88-7.88a.158.158 0 1 1 .223.223l-8.345 8.345a.158.158 0 0 1-.223 0L3.468 10.29a.158.158 0 1 1 .223-.223l3.03 3.029z' fill='%23999AA8' stroke='%23171E6D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' transform='translate(2.923 2.923)' d='M0 0h13.154v13.154H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
$icon-spoiler-arrow: url("data:image/svg+xml,%3Csvg width='7' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.174 0a1 1 0 0 0-.759 1.65l2.326 2.714a1 1 0 0 0 1.518 0l2.326-2.713A1 1 0 0 0 5.825 0h-4.65z' fill='%236979F8'/%3E%3C/svg%3E");
$icon-slider-arrow--next: url("data:image/svg+xml,%3Csvg width='10' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.17 7.429L1.977.236a.81.81 0 0 0-1.144 0 .806.806 0 0 0 0 1.142L7.456 8 .833 14.622a.807.807 0 1 0 1.144 1.142L9.172 8.57a.815.815 0 0 0-.001-1.142z' fill='%23fff'/%3E%3C/svg%3E");
$icon-slider-arrow--prev: url("data:image/svg+xml,%3Csvg width='10' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.83 7.429L8.023.236a.81.81 0 0 1 1.144 0 .806.806 0 0 1 0 1.142L2.544 8l6.623 6.622a.807.807 0 1 1-1.144 1.142L.828 8.57A.815.815 0 0 1 .83 7.429z' fill='%23fff'/%3E%3C/svg%3E");
$icon-docs: url("data:image/svg+xml,%3Csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.086 4.518l-.51-.159a1.611 1.611 0 0 0-.413-.064c-.572 0-1.082.382-1.272.923l-.287.86v-.669c0-.095-.063-.19-.127-.254L12.259.095A.344.344 0 0 0 12.036 0H1.822c-.19 0-.318.127-.318.318v.987H.327c-.191 0-.318.127-.318.318v19.059c0 .19.127.318.318.318h15.464c.19 0 .318-.127.318-.318v-.987h1.177c.19 0 .318-.127.318-.318v-4.295l.891-1.21.032-.095 2.386-7.604c.255-.7-.127-1.432-.827-1.655zm-7.732-3.436l4.168 4.009h-4.168V1.08zm3.118 19.282H.645V1.94h.86v17.436c0 .191.126.318.317.318h13.65v.669zM17 19.059H2.14V.636h9.577V5.41c0 .191.127.318.318.318H17v2.387l-1.496 4.709v.095l.064 4.041c0 .127.095.255.223.287.127.031.286 0 .35-.128L17 15.973v3.086zm-.828-3.086l-.063-2.641 1.59.509-1.527 2.132zm4.169-9.991l-2.291 7.286-1.846-.604 2.291-7.255c.127-.35.51-.573.86-.445l.508.159c.382.095.605.509.478.859z' fill='%23171E6D'/%3E%3Cpath d='M4.304 5.727h4.582c.191 0 .319-.127.319-.318V2.164c0-.191-.128-.318-.319-.318H4.304c-.19 0-.318.127-.318.318v3.245c0 .16.16.318.318.318zm.319-3.245h3.945v2.61H4.623v-2.61zM3.668 8.718h9.673c.19 0 .318-.127.318-.318 0-.19-.128-.318-.319-.318H3.668c-.191 0-.318.127-.318.318s.127.318.318.318zM3.668 11.04h9.673c.19 0 .318-.127.318-.317 0-.191-.128-.319-.319-.319H3.668c-.191 0-.318.128-.318.319 0 .19.127.318.318.318zM3.668 13.364h9.673c.19 0 .318-.127.318-.318s-.128-.319-.319-.319H3.668c-.191 0-.318.128-.318.319 0 .19.127.318.318.318zM13.627 15.368c0-.191-.127-.318-.318-.318H3.668c-.191 0-.318.127-.318.318 0 .19.127.318.318.318h9.673c.159 0 .286-.159.286-.318zM14.677 17.373H9.873c-.191 0-.318.127-.318.318s.127.318.318.318h4.773c.19 0 .318-.127.318-.318 0-.19-.128-.318-.287-.318z' fill='%23171E6D'/%3E%3C/svg%3E");
$icon-read-more-icon: url("data:image/svg+xml,%3Csvg width='8' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.354.646a.5.5 0 0 0-.708 0L.464 3.828a.5.5 0 1 0 .708.708L4 1.707l2.828 2.829a.5.5 0 1 0 .708-.708L4.354.646zM4.5 2V1h-1v1h1z' fill='%236979F8'/%3E%3C/svg%3E");
$icon-tick-big: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='49' height='36'%3E%3Cdefs%3E%3Cpath id='a' d='M219.282 3402.718a2.45 2.45 0 0 0-3.464 0l-29.353 29.365-11.283-11.287a2.45 2.45 0 1 0-3.464 3.466l13.015 13.02a2.45 2.45 0 0 0 3.464 0l31.085-31.098a2.452 2.452 0 0 0 0-3.466z'/%3E%3C/defs%3E%3Cuse fill='%23fcbb01' xlink:href='%23a' transform='translate(-171 -3402)'/%3E%3C/svg%3E");

$img-villa-pl: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAoHBwgHBgoICAgLCgoLDhgQDg0NDh0VFhEYIx8lJCIfIiEmKzcvJik0KSEiMEExNDk7Pj4+JS5ESUM8SDc9Pjv/2wBDAQoLCw4NDhwQEBw7KCIoOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozv/wgARCAALAAoDAREAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAgMF/8QAFgEBAQEAAAAAAAAAAAAAAAAAAwIE/9oADAMBAAIQAxAAAAE0ezKNc1C0/wD/xAAYEAEBAAMAAAAAAAAAAAAAAAACAQASIv/aAAgBAQABBQIOEgygTra5/8QAGREAAQUAAAAAAAAAAAAAAAAAEAEDERIx/9oACAEDAQE/AapIa0f/xAAZEQADAAMAAAAAAAAAAAAAAAABAhARITH/2gAIAQIBAT8BD6wI/J//xAAcEAACAAcAAAAAAAAAAAAAAAAAAQIQERJRYXH/2gAIAQEABj8CdYrnwT1kcv/EABsQAQACAgMAAAAAAAAAAAAAAAEAESExcZGh/9oACAEBAAE/IX9LnV67lNjId4RwQoM+T//aAAwDAQACAAMAAAAQKA//xAAYEQEAAwEAAAAAAAAAAAAAAAABABARMf/aAAgBAwEBPxATSTJ3r//EABcRAQEBAQAAAAAAAAAAAAAAAAERABD/2gAIAQIBAT8QQs1wI5//xAAaEAACAwEBAAAAAAAAAAAAAAAAAREhMVHR/9oACAEBAAE/EFezwianwPU+8anaIJUXM8zg/9k=');
$img-villa-pl-mobile: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAoHBwgHBgoICAgLCgoLDhgQDg0NDh0VFhEYIx8lJCIfIiEmKzcvJik0KSEiMEExNDk7Pj4+JS5ESUM8SDc9Pjv/2wBDAQoLCw4NDhwQEBw7KCIoOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozv/wgARCAAGAAoDAREAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAgT/xAAVAQEBAAAAAAAAAAAAAAAAAAAAAv/aAAwDAQACEAMQAAABKb1f/8QAGBABAQADAAAAAAAAAAAAAAAAAQIAAxH/2gAIAQEAAQUCiuY7kf/EABURAQEAAAAAAAAAAAAAAAAAABAR/9oACAEDAQE/AYf/xAAXEQADAQAAAAAAAAAAAAAAAAABAhBB/9oACAECAQE/AQ2T/8QAGhAAAgIDAAAAAAAAAAAAAAAAAAIBERKRof/aAAgBAQAGPwJq7JWK6P/EABgQAQEBAQEAAAAAAAAAAAAAAAERACFx/9oACAEBAAE/IUmFb4ZAIHM//9oADAMBAAIAAwAAABAT/8QAFxEAAwEAAAAAAAAAAAAAAAAAAAERIf/aAAgBAwEBPxBbrIf/xAAWEQEBAQAAAAAAAAAAAAAAAAARAAH/2gAIAQIBAT8QfBOX/8QAGBABAQEBAQAAAAAAAAAAAAAAAREAIUH/2gAIAQEAAT8QDaFqiBZDmTBVF8G//9k=');
