// itemDescription
+b('itemDescription', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Описание
    +e('body')
      p Chalet en urbanización de la Pobla de Vallbona, muy próximo a todos los servicios y de rápido acceso a la autovía. Construido en 1 PLANTA, con jardín consolidado, arboles frutales y piscina. Dispone de hall de entrada, salón comedor con chimenea, cocina office, 5 habitaciones con armarios empotrados (suite principal con baño completo), 1 aseo de cortesía, 2 amplias terrazas, garaje con capacidad para 1 coche y en el cual se encuentra también 1 baño y 1 habitación como zona de almacenaje, entrada de vehículos y paellero. Entre otros cuenta con carpintería interior en madera, mosquiteras en las ventanas, rejas, riego automático y 1 aljibe.