-
  var properties = [
  {
    title: 'Паркинг',
    mod: 'parking'
  },
  {
    title: 'Бассейн',
    mod: 'pool'
  },
  {
    title: 'Терраса',
    mod: 'terrace'
  },
  {
    title: 'Зона барбекю',
    mod: 'bbq'
  },
  {
    title: 'Ухоженный сад',
    mod: 'garden'
  },
  ];

  var facilities = [
  'Кондиционер',
  'Двойной стеклопакет',
  'Отоплени',
  'Камин',
  'Паркет',
  'Винный погреб',
  'Бассейн ',
  'Интернет',
  'кондиционер',
  'Терраса или балкон',
  'Паркинг',
  'Утюг'
  ];

  var complex = [
  {
    value: '2008',
    label: 'Начало строительства:'
  },
  {
    value: '2018',
    label: 'Окончание строительства:'
  },
  {
    value: 'от 34 м2',
    label: 'Площадь апартаментов:'
  },
  ];

  var landmarks = [
  {
    value: '0,8 км',
    label: 'Супермаркет'
  },
  {
    value: '2 км',
    label: 'Центр города'
  },
  {
    value: '14 км',
    label: 'Аэропорт'
  },
  ];

  var numList = [
  {
    value: 'от 3000 €',
    label: 'Бронирование объекта'
  },
  {
    value: '10% от стоимости',
    label: 'Договор о покупке объекта'
  },
  {
    value: '10% от стоимости',
    label: 'Ежемесячные платежи'
  },
  {
    value: '80% от стоимости',
    label: 'Нотариальный акт купли-продажи'
  },
  ];

// itemInfo
+b('itemInfo', { b: 'block' })
  +e('inner', { e: 'block' })

    +e('card', 'icons')
      +e('heading', { e: 'block' }, 'h2') Характеристики объекта
      +e('list', '', 'ul')
        for i in properties
          +e('item', {m: i.mod})= i.title

    +e('card')
      +e('heading', { e: 'block' }, 'h2') Удобства объекта
      +e('list', '', 'ul')
        for i in facilities
          +e('item')= i
      +e('spoiler', '', 'button') Показать все удобства:
        | #{' '}#{facilities.length}

    +e('card', 'withOutIcons')
      +e('heading', { e: 'block' }, 'h2') Жилой комплекс
      +e('list', '', 'ul')
        for i in complex
          +e('item')
            +e('label')= i.label
            | #{' '}
            +e('value')= i.value

    +e('card', 'list')
      +e('heading', { e: 'block' }, 'h2') Ориентиры поблизости:
      +e('list', '', 'ul')
        for i in landmarks
          +e('item')
            +e('label')= i.label
            +e('value')= i.value

    +e('card', 'list.numList')
      +e('heading', { e: 'block' }, 'h2') Ориентиры поблизости:
      +e('list', '', 'ul')
        for i in numList
          +e('item')
            +e('label')= i.label
            +e('value')= i.value
