// itemStats
+b('itemStats', {m: statsMod})
  +e('stat')
    +e('value', 'territory') 18 м²
    +e('label') Территория
  +e('stat', 'important')
    +e('value', 'area') 268 м²
    +e('label') Площадь
  +e('stat')
    +e('value', 'bedrooms') 4
    +e('label') Спальни
  +e('stat')
    +e('value', 'bathrooms') 2
    +e('label') Ванные
  //
    +e('stat')
      +e('value', 'newBuilding')
      +e('label') Новостройка
    +e('stat')
      +e('value', 'sleepPlace') 7
      +e('label') Спальных мест
    +e('stat')
      +e('value', 'beach') 1,8 км
      +e('label') До пляжа