-
  slides = [
    './files/villa.jpg',
    './files/villa.jpg',
    './files/villa.jpg',
    './files/villa.jpg',
    './files/villa.jpg'
  ];

  mod = 'page'

// itemSlider
+b('itemSlider', {m: mod})
  +e('main')
    +e('slides', '', 'ul')
      for slide in slides
        +e('slide', '', 'li'): img(src=slide alt="")

    +e('dots')
      for slide, index in slides
        +e('dot', '', 'button')= index + 1

    +e('arrows')
      +e('arrow', 'prev', 'button') <
      +e('arrow', 'next', 'button') >

  +e('thumbnails')
    +e('thumbnailsInner')
      for slide in slides
        +e('thumbnail', '', ''): img(src=slide alt="")


