-
  slides = [
  {
    desktop: './files/villa-listing.jpg',
    mobile: './files/villa-listing@mobile.jpg'
  },
  {
    desktop: './files/villa-listing.jpg',
    mobile: './files/villa-listing@mobile.jpg'
  },
  {
    desktop: './files/villa-listing.jpg',
    mobile: './files/villa-listing@mobile.jpg'
  },
  ];

// itemListingSlider
+b('itemSlider', {m: 'listing'})
  +e('main')
    +e('slides', '', 'ul')
      for slide in slides
        +e('slide', '', 'li')
          picture
            source(srcset=slide.mobile media="(max-width: 767px)")
            img(src=slide.desktop alt="")

    +e('dots')
      for slide, index in slides
        +e('dot', '', 'button')= index + 1

    +e('arrows')
      +e('arrow', 'prev', 'button') <
      +e('arrow', 'next', 'button') >


