// itemTiter
+b('itemTiter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })

    +e('slider')
      include item-slider-titer

    +e('content')
      +e('id') 469245
      +e('heading', { e: 'block' }, 'h1') Продажа вилл в Валенсии
      +e('underTitle')
        +e('name', '', 'span') Escultores de la Rivera,
        +e('onMap', '', 'a')(href="#0" target="_blank") на карте

      +e('stats')
        include item-stats

      +e('footer')
        +e('price') 269 000 €
        +e('link', '', 'a')(href="#consultation" data-scroll) Получить консультацию