// itemsList
+b('itemsList', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1')(class="visually-hidden") Продажа недвижимости
    +e('list', '', 'ul')
      for i in Array(4)
        +e('item')
          include ../item-card-in-list
    +e('pager')
      include ../pager-wp
