// about
+b('about', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') О Нас
    +e('body', { e: 'block' })
      p Компания Laumar Homes предоставляет полный спектр услуг: поиск, продажа и покупка недвижимости, а также аренда и профессиональный консалтинг, поэтому нашу компанию выбирают как эффективного партнера на рынке недвижимости.