-
  var bc = [
  {
    title: 'Laumar homes',
    url: '/'
  },
  {
    title: 'Аренда недвижимости',
    url: '#0'
  },
  ];

// breadCrumbs
+b('breadCrumbs', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('nav', '', 'nav')
      +e('list', '', 'ul')
        for i in bc
          +e('item'): +e('link', '', 'a')(href=i.url)=i.title