// contacts
+b('contacts', { b: 'block' }, 'section')
  .anchor#contacts
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Контакты

    +e('content', '', 'address')
      +e('image'): img(src="./files/contacts-image.jpg" alt="")
      +e('main')

        +e('item', 'address')
          +e('label') Адрес:
          +e('value') calle Nicolas Copernico, 8, oficina 8, 46980 Paterna

        +e('row')
          +e('col')
            +e('item')
              +e('label') Отдел продаж:
              +e('value')(href="mailto:anna.laumar@gmail.com") anna.laumar@gmail.com
            +e('item')
              +e('label') Отдел аренды:
              +e('value')(href="mailto:elena.laumar@gmail.com") elena.laumar@gmail.com
            +e('item')
              +e('label') Китайский рынок:
              +e('value')(href="mailto:yevemesa@gmail.com") yevemesa@gmail.com


          +e('col')
            +e('item')
              +e('label') Телефон:
              +e('value', 'phone')(href="tel:+34629630972") +34 629 63 09 72
              +e('value', 'phone')(href="tel:+34622135194") +34 622 13 51 94

            +e('item', 'button')
              +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--contactUs") Связаться