// contacts-footer
+b('contactsFooter')

  +e('item')
    +e('label') Заказать звонок
    +e('value')(href="tel:+34629630972") +34 629630972

  +e('item')
    +e('label') email:
    +e('value')(href="mailto:anna.laumar@gmail.com") anna.laumar@gmail.com