-
  var faq = [
  {
  title: 'Какой район подходит для отдыха с детьми?',
  body: 'В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок.'
  },
  {
  title: 'Какие экскурсии стоит посетить?',
  body: 'В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок мы рекомендуем район В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок мы рекомендуем райо….'
  },
  {
  title: 'Где лучше всего арендовать автомобиль?',
  body: 'В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок'
  },
  {
  title: 'Какой район подходит для отдыха с детьми?',
  body: 'В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок.'
  },
  {
  title: 'Какие экскурсии стоит посетить?',
  body: 'В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок мы рекомендуем райо….'
  },
  {
  title: 'Где лучше всего арендовать автомобиль?',
  body: 'В Валенсии мы рекомендуем район Патаконы и Порт Саплаи с песчаными пляжем, на котором будет так приятно играть в песок'
  },
  ]

// faq
+b('faq', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Вопросы и ответы
    +e('list', '', 'ul')
      for item in faq
        +e('item')
          +e('title', '' ,'h3') !{item.title}
          +e('body', '', 'p')(data-text-spoiler="4") !{item.body}
