// filterBlock
+b('filterBlock', { b: 'block', m: mod }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Объекты недвижимости
    +e('dscr', { e: 'block' }, 'p') Воспользуйтесь фильтром и познакомьтесь с лучшими объектами в Испании
    +e('filter')
      include forms/form-filter