// filterListingBlock
+b('filterListingBlock', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('header', '', 'header')(class="visually-hidden")
      +e('heading', { e: 'block' }, 'h2') Фильтр
      +e('clear', '', 'button') Очистить
      +e('close', '', 'button')(class="roundButton")
        span.visually-hidden Закрыть
        include ../../images/close-filter.svg

    +e('filter')
      include forms/form-filter

