-
  var mod = haveAQuestionMod || ''

// haveAQuestion
+b('haveAQuestion', { b: 'block', m: mod }, 'section')
  +e('inner', { e: 'block' })
    +e('main')
      +e('heading', { e: 'block' }, 'h2') Есть вопрос?
      +e('dscr', { e: 'block' }, 'p') Задайте вопрос и наш менеджер ответит в течении рабочего дня

    +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--questions") Задать вопрос