// itemCardInList
+b('itemCardInList', '', 'article')
  +e('slider')
    include item/item-slider-listing
  +e('main')
    +e('id') 469245
    +e('title', '', 'h3'): a(href="item-sale.html") Продажа коттеджей в Валенсии, Испания
    +e('name') Escultores de la Rivera. Riviera del de Sol-Miraflores
    +e('stats')
      - statsMod = 'listing'
      include item/item-stats
    +e('footer')
      +e('price') от 160 €/сутки
      +e('link', '', 'a')(href="item-sale.html") Подробнее
        | #{' '}
        include ../../images/more-arrow.svg