// itemCardInList
+b('itemCardInList', 'vertical', 'article')
  +e('slider')
    include item/item-slider-service
  +e('main')
    +e('id') 469245
    +e('title', '', 'h3'): a(href="item-sale.html") Продажа коттеджей в Валенсии, Испания
    +e('name') Escultores de la Rivera. Riviera del de Sol-Miraflores
    +e('stats')
      - statsMod = 'service'
      include item/item-stats-service
    +e('footer')
      +e('price') от 160 €/сутки