-
  menu = [
  'Аренда недвижимости',
  'Полезная информация',
  'Продажа недвижимости',
  'Вид на жительство',
  'Новое строительство',
  'Услуги'
  ]


+b('menuFooter', '', 'nav')
  +e('list', '', 'ul')
    for i in menu
      +e('item'): +e('link')(href="#0")= i