-
  var menu = [
  {
  title: 'Главная',
  url: 'index.html'
  },
  {
  title: 'Недвижимость',
  url: '#',
  children: [
    {
    title: 'Аренда',
    url: '#0'
    },
    {
    title: 'Продажа',
    url: '#0'
    },
    {
    title: 'Вид на жительство',
    url: '#0'
    }
  ]
  },
  {
  title: 'Услуги',
  url: '#',
  children: [
    {
    title: 'Аренда',
    url: '#0'
    },
    {
    title: 'Продажа',
    url: '#0'
    },
    {
    title: 'Вид на жительство',
    url: '#0'
    }
  ]
  },
  {
  title: 'Контакты',
  url: '/#contacts',
  },
  {
  title: 'Полезная информация',
  url: '/info.html'
  },
  ];

// menu
+b('menu', '', 'nav')
  +e('list', '', 'ul')
    for i in menu
      - parentMod = i.children && i.children.length !== 0 ? 'parent' : null
      +e('item', {m: parentMod})
        +e('link', {m: parentMod}, 'a')(href=i.url) !{i.title}
        if i.children && i.children.length !== 0
          +e('subMenu', '', 'ul')
            for i2 in i.children
              +e('item'): +e('link', '', 'a')(href=i2.url) !{i2.title}
