// mobMenu
+b('mobMenu', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('logoAndClose')
      +e('logo'): img(src="./images/logo.svg" alt="Logo Laumar Home")
      +e('close', '', 'button'): span.visually-hidden Закрыть меню
    +e('menu')
      include menu

    +e('contacts')
      +e('contact', '', 'a')(href="tel:+37629360972") +37 629360972
      +e('contact', '', 'a')(href="mailto:anna.laumar@gmail.com") anna.laumar@gmail.com

    +e('lang')
      - var langMod = 'horizontal';
      include ../components/lang