// pager
.pager
  a.page-numbers.prev(href="#0")
    include ../../images/pager-prev.svg
  a.page-numbers(href="#0") 1
  a.page-numbers(href="#0") 2
  span.page-numbers.current 3
  a.page-numbers.next(href="#0")
    include ../../images/pager-next.svg