// pager
+b('pager', '', 'ul')
  +e('item'): +e('link', 'arrow.prev', 'a')(href="#0")
    include ../../images/pager-prev.svg
  +e('item'): +e('link', '', 'a')(href="#0") 1
  +e('item'): +e('link', '', 'a')(href="#0") 2
  +e('item'): +e('link', 'active', 'span') 3
  +e('item'): +e('link', 'arrow.next', 'a')(href="#0")
    include ../../images/pager-next.svg