-
  principleList = [
    'Быстро обрабатываем запрос и предоставляем информацию об объекте',
    'Подбираем объекты опираясь на ваши пожелания',
    'Всю рутинную работу с документами мы берем на себя',
    'Индивидуальный подход и сервис личного консьержа'
  ]

// principle
+b('principle', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Основные принципы компании
    +e('list', '', 'ul')
      for i in principleList
        +e('item') !{i}
