// receiveConsultation -- на странице Услуга
+b('receiveConsultation', { b: 'block', m: 'findHouse' }, 'section')
  .anchor#form-buy
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Подберем лучший дом для Вас
    +e('form')
      include forms/form-find-house