-
  var defaultData = {
    title: 'Получить консультацию',
    dscr: ''
  }

  var data = receiveConsultationData || defaultData;

// receiveConsultation
+b('receiveConsultation', { b: 'block' }, 'section')
  +b('anchor')(id="consultation")
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') !{data.title}
    if data.dscr
      +e('dscr', '', 'p') !{data.dscr}
    +e('form')
      include forms/form-consultation