// receiveConsultation -- на странице Услуга
+b('receiveConsultation', { b: 'block', m: 'findHouse' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Подберем лучший дом для комфортного отдыха
    +e('dscr', '', 'p') Связываемся с Вами — Узнаем ваши пожелания  —  Предлагаем варианты  — Подтверждаем бронирование и отправляем документы
    +e('form')
      include forms/form-find-house