-
  services = [
  {
    title: 'Продажа',
    list: [
      'Индивидуальный подбор объектов недвижимости по заданным критериям',
      'Сопровождение купли-продажи объекта недвижимости',
      'Постпродажный сервис'
    ]
  },
  {
    title: 'Аренда',
    list: [
      'Подбор объектов',
      'Встреча и размещение ',
      'Персональная поддержка во время пребывания на отдыхе'
    ]
  },
  {
    title: 'Резиденция',
    list: [
      'Золотая виза инвестора',
      'Продление документов',
      'Вид на Жительство без права на работу'
    ]
  },
  ]

// services
+b('services', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Услуги
    +e('items')
      for i in services
        +e('item')
          +b('servicesCard', '', 'div')
            +e('title', '', 'h3'): a(href="#0")=i.title
            +e('body')
              ul
                for j in i.list
                  li=j
      +e('item')
        +b('servicesCard', 'questions', 'div')
          +e('title', '', 'h3') Есть вопросы?
          +e('body')
            p Задайте вопрос и наш менеджер ответит в течении рабочего дня
          +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--questions") Задать вопрос