-
  team = [
  {
    photo: 'team-1.png',
    post: 'Менеджер',
    name: 'Zhu Yong Fei',
    body: 'Менеджер по продаже недвижимости, специализируюсь на китайском рынке'
  },
  {
    photo: 'team-2.png',
    post: 'Директор',
    name: 'Анна Усик',
    body: 'Помогу приобрести дом вашей мечты. Ваш персональный менеджер по продаже'
  },
  {
    photo: 'team-3.png',
    post: 'Менеджер',
    name: 'Елена Исаева',
    body: 'Организую лучший отдых для вас и вашей семьи. Менеджер по длительной и туристической аренде'
  },
  ]

// team
+b('team', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Наша команда
    +e('list', '', 'ul')
      for i in team
        +e('item')
          +e('image', '', 'div'): img(src="./files/team/"+i.photo alt="teammate")
          +e('post', '', 'div')= i.post
          +e('name', '', 'div')= i.name
          +e('body', '', 'div')= i.body