-
  var defaultData = {
    title: 'Заголовок',
    body: '<p>В 2013 году Испания приняла закон “о поддержке предпринимателей и интернализации предпринимательства”, предусматривающий особые условия пребывания в Испании иностранных инвесторов. При покупке недвижимости или других активов, инвестор получает право на получение вида на жительства в Испании.</p>',
    iconList: [
      {
      text: 'Вид на жительство без права на работу могут оформить граждане стран, не входящих в ЕС. Данный вид ВНЖ дает законное право проживать на территории Испании без осуществления трудовой деятельности. Поэтому соискатель должен подтвердить наличие стабильного дохода, получаемого в любой точки мира.',
      mod: 'cash'
      },
    ]
  }
  var data = textBlockData || defaultData;
  var mod = textBlockMod || '';

// textBlock
+b('textBlock', { b: 'block', m: mod }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') !{data.title}

    if data.body
      +e('body', { e: 'block' }) !{data.body}

    if data.iconList
      +e('iconList', '', 'ul')
        for li in data.iconList
          +e('iconListItem', {m: li.mod}) !{li.text}