// titer
+b('titer', { b: 'block', m: 'animated' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') Агенство недвижимости в Валенсии
    //+b('button', { e: '&' }, 'a')(href="#0" data-scroll) Подробнее
    +e('cloud', '1')
    +e('cloud', '2')
    +e('cloud', '3')
    +e('cloud', '4')
  +e('bg')
