// useful
+b('useful', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Чем полезны?
    +e('body', { e: 'block' })
      p Мы помогаем найти, продать, купить и арендовать недвижимость. Проведем профессиональный консалтинг, расскажем честно о всех тонкостях работы с недвижимостью.
      p Главная цель команды Laumar Home защитить интересы клиента и достичь результата, которым вы будете довольны.