-
  var list = [
  {
    icon: 'greeting',
    text: 'Мы свободно говорим на русском, английском и испанском языках'
  },
  {
    icon: 'house',
    text: 'Стоимость аренды становится  выгоднее за счет специальных условий и длительного срока аренды'
  },
  {
    icon: 'heartInHands',
    text: 'Встречаем, заселяем и сопровождаем во всех бытовых вопросах'
  }
  ];

  var defaultData = serviceFeaturesData || list

// serviceFeatures
+b('serviceFeatures', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Для нас важны эмоции, которые вы получите
    +e('list', '', 'ul')
      for i in defaultData
        +e('item', {m: i.icon}) !{i.text}