// serviceTiter
+b('serviceTiter', { b: 'block', m: 'buy' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') Покупка недвижимости
    +e('image'): img(src="./files/service-buy-titer-2.jpg" alt="Laumar Home: Покупка недвижимости")
    +e('body', { e: 'block' }, 'div')
      p Более 6 лет мы помогаем людям приобрести недвижимость в Испании<br>
      | Находим объекты под ваш запрос – тихое семейное место у моря или центр колоритного города. Помогаем с оформлением всех необходимых документов, консультируем и сопровождаем сделки.

      p Наша цель – подобрать дом, о котором вы мечтали

    +b('button', { e: '&', m: 'alt' }, 'a')(href="#popular" data-scroll) Найти жилье


