// servicePopular
+b('servicePopular', { b: 'block' }, 'section')
  .anchor#popular
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Популярные объекты
    +e('list', '', 'ul')
      for i in Array(3)
        +e('item')
          include ../item-card-in-list--vertical
      +e('item')
        +e('find', '', 'a')(href="#0" data-scroll) Найти жилье