// serviceTiter
+b('serviceTiter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h1') Аренда недвижимости
    +e('image'): img(src="./files/service-hand.png" alt="Laumar Home: Аренда недвижимости")
    +e('body', { e: 'block' }, 'div')
      p С 2015 года мы помогаем людям со всего мира арендовать недвижимость для отдыха в Валенсии и на побережье Коста Бланки.
      ul
        li Предоставляем объекты для отдыха, в которые захочется вернуться.
        li Помогаем с оформлением бронирования и получением визы.
        li Встречаем и заботимся о вашем комфортном размещении.
        li Наша цель - сделать ваш отдых незабываемым.

    +b('button', { e: '&', m: 'alt' }, 'a')(href="#popular" data-scroll) Найти жилье