// serviceService
+b('serviceService', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Услуга

    +e('wrp')
      +e('image'): img(src="./files/service-rent.jpg" alt="Laumar Homes: Аренда недвижимости")
      +e('main')
        +e('body', { e: 'block' }, 'div')
          ol
            li Подбор объектов
            li Встречаем и размещаем
            li Организуем трансфер в любую точку
            li Решение жилищно-бытовых вопросов
            li Онлайн сопровождение к врачу и вызов  доктора к вам домой
            li Советы по организации туризма: что посмотреть, куда пойти, где поужинать, рекомендация нетуристических мест.
        +b('button', { e: '&' }, 'a')(href="#0" data-modal=".modal--questions") Получить консультацию