-
  var list = [
  'Находимся в Валенсии – работаем по Валенсии и побережью Коста Бланки',
  'Работаем с испанскими банками – решим вопрос с документами и денежным переводом',
  'Консультируем и отвечаем на вопросы он-лайн в удобное для вас время',
  'С 2012 года помогаем покупать недвижимость в Испании – знаем подводные камни, правовые нюансы и особенности приобретения недвижимости в этой стране'
  ]

// whyWe
+b('whyWe', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Почему мы?
    +e('list', '', 'ul')
      for i in list
        +e('item') !{i}