extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Навигация для разрабочика'

block content
  // devNav
  +b('devNav', { b: 'block' }, 'section')
    +e('inner', { e: 'block' })
      +e('heading', { e: 'block' }, 'h2') Навигация для разработчика
      +e('list', '', 'ul')
        +e('item')
          +e('link')(href="/") Главная
            +e('url') index.html
        +e('item')
          +e('link')(href="item-list.html") Листинг
            +e('url') item-list.html
        // +e('item')
          +e('link')(href="item-list-rent.html") Листинг (аренда)
            +e('url') item-list-rent.html
        +e('item')
          +e('link')(href="item-sale.html") Карточка объекта
            +e('url') item-sale.html
        +e('item')
          +e('link')(href="info.html") Полезная информация
            +e('url') info.html
        +e('item')
          +e('link')(href="vnz.html") ВНЖ
            +e('url') vnz.html
        +e('item')
          +e('link')(href="service-rent.html") Услуга (аренда)
            +e('url') service-rent.html
        +e('item')
          +e('link')(href="service-buy.html") Услуга (покупка)
            +e('url') service-buy.html
        // +e('item')
          +e('link')(href="vnz-investor.html") ВНЖ для инвестора
            +e('url') vnz-investor.html



