extend ../layout/layout.pug

block vars
  - var body_classes = ['page--front'];
  - var title = 'Главная'

block content
  include ../components/titer
  include ../components/filter-block
  include ../components/useful
  include ../components/principle
  include ../components/services
  include ../components/about
  include ../components/team
  include ../components/contacts
  include ../components/modals/modal-questions
  include ../components/modals/modal-contact-us


