extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Полезная информация'

block content
  include ../components/breadcrumbs
  include ../components/info/info-stages-preview
  include ../components/info/info-main
  include ../components/have-a-question
  include ../components/modals/modal-questions