extend ../layout/layout.pug

block vars
  - var body_classes = ['page--notfront'];
  - var title = 'Карточка объекта - продажа'

block content
  include ../components/breadcrumbs
  include ../components/item/item-titer
  include ../components/item/item-info
  include ../components/item/item-description
  include ../components/receive-consultation
  include ../components/map