extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Листинг Продажа'
    var headerMod = 'bg'
    var headerFilter = true


block content
  include ../components/filter-listing-block
  include ../components/item/items-list
