extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Услуга (покупка)'

block content
  include ../components/service/service-titer--buy

  - stagePreviewMod = 'service'
  include ../components/info/info-stages-preview--service

  -
    var serviceFeaturesData = [
    {
    icon: 'support',
    text: 'Быстро обрабатываем запрос и предлагаем возможные варианты'
    },
    {
    icon: 'customerService',
    text: 'Консультируем и отвечаем на вопросы он-лайн в удобное для вас время'
    },
    {
    icon: 'greeting',
    text: 'Мы свободно говорим на русском, английском и испанском языках'
    },
    ];

  include ../components/service/service-features
  include ../components/service/service-popular
  include ../components/receive-consultation--find-house-for-buy
  include ../components/service/why-we
  include ../components/faq

  - var haveAQuestionMod = 'noImage'
  include ../components/have-a-question
  include ../components/modals/modal-questions
