extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Услуга (аренда)'

block content
  include ../components/service/service-titer
  include ../components/service/service-service
  include ../components/service/service-features
  include ../components/service/service-popular
  include ../components/receive-consultation--find-house
  include ../components/faq

  - var haveAQuestionMod = 'noImage'
  include ../components/have-a-question
  include ../components/modals/modal-questions
