extend ../layout/layout.pug

block vars
  -
    var body_classes = ['page--notfront'];
    var title = 'Вид на жительство'

block content
  include ../components/breadcrumbs
  include ../components/vnz/vnz-titer
  include ../components/vnz/vnz-types
  include ../components/vnz/vnz-tabs

  - var receiveConsultationData = {title: 'Получить бесплатную консультацию по получению ВНЖ Испании'}
  include ../components/receive-consultation

  .vnzTabs__tab.vnzTabs__tab--active.vnz-simple
    include ../components/faq
  .vnzTabs__tab.vnz-investor
    include ../components/faq

  - var haveAQuestionMod = 'noImage'
  include ../components/have-a-question
  include ../components/modals/modal-questions
