// modal - questions
+b('modal', 'questions')
  +e('bg')
  +e('inner')
    +e('content')
      +e('title', '', 'h2') Есть вопросы?
      +e('dscr', '', 'p') Задайте свой вопрос для обратной связи.
      +e('form')
        include ../forms/form-questions

      +e('close', '', 'button') ×
