// modal - questions
+b('modal', 'contactUs')
  +e('bg')
  +e('inner')
    +e('content')
      +e('title', '', 'h2') Связаться с нами
      +e('dscr', '', 'p') Напшите нам для обратной связи.
      +e('form')
        include ../forms/form-contact-us

      +e('close', '', 'button') ×
