// form - consultation
+b('form', 'findHouse', 'form')(action="" method="post")

  +e('main')

    +e('item', '', 'label')
      +e('label', 'hidden') Ваше имя
      +e('field', '', 'input')(type="text" placeholder="Ваше имя" name="name")

    +e('item', '', 'label')
      +e('label', 'hidden') Телефон
      +e('field', '', 'input')(type="tel" placeholder="Телефон" name="phone")

    +e('item', '', 'label')
      +e('label', 'hidden') E-mail
      +e('field', '', 'input')(type="email" placeholder="E-mail" name="email")

    +e('item', '', 'label')
      +e('label', 'hidden') Когда связаться?
      +e('field', '', 'input')(type="text" placeholder="Когда связаться?" name="connection")

    +e('item', '', 'label')
      +e('label', 'hidden') Что важно при выборе жилья?
      +e('field', '', 'input')(type="text" placeholder="Что важно при выборе жилья?" name="what-important")


    +e('item', 'button')
      +b('button', { e: '&' }, 'button')(type="submit") Оставить заявку

  +e('item', 'agreement.popup', 'label')
    //+e('checkbox', '', 'input')(type="checkbox" required)
    +e('label') Нажимая на кнопку «Оставить заявку» вы соглашаетесь с#{' '}
      a(href="#0" target="_blank") политикой конфиденциальности

