// form - modifier
+b('form', 'modifier', 'form')(action="" method="post")

  +e('main')
    +e('item', '', 'label')
      +e('label', '')(visually) Фамилия и Имя
      +e('field', 'onWhite', 'input')(type="text" placeholder="Фамилия и Имя")


    +e('item', 'button')
      +b('button', { e: '&', m: 'popup' }, 'button')(type="submit") Зарегестрироваться

  +e('item', 'agreement.popup', 'label')
    //+e('checkbox', '', 'input')(type="checkbox" required)
    +e('label') Нажимая на кнопку  «Зарегестрироваться»  вы соглашаетесь с#{' '}
      a(href="#0" target="_blank") политикой конфиденциальности

