+e('main', 'row.rent')(hidden)
  +e('col')
    +e('items', '2col')
      +e('item', '2col', 'label')
        +e('label', '') Тип:
        +e('field', 'select.type', 'select')(name="type")
          option(selected data-form-type="buy" value="buy") Купить
          option(data-form-type="rent" value="rent") Арендовать
          option(data-form-type="buy" value="new") Новострой
      +e('item', '2col', 'label')
        +e('label', '') Город:
        +e('field', 'city', 'input')(type="text" name="city" placeholder="Город" autocomplete="off")


  +e('col')
    +e('items', '2col')
      +e('item', '2col', 'label')
        +e('label', '') Кол-во гостей:
        +e('field', 'select', 'select')(name="guests")
          option(selected) 2 гостя
          option 3 гостя
          option 4 гостя
          option 5 гостей
      +e('item', '2col', 'label')
        +e('label', '') Спальни:
        +e('field', 'select', 'select')(name="bedrooms")
          option(selected) 1 комн.
          option 2 комн.
          option 3 комн.
          option 4 комн.

  +e('col')
    +e('label', '') Стоимость/сутки в €:
    +e('items', 'price.doubled')
      +e('item', 'doubled', 'label')
        +e('label', 'intoInput') от:
        +e('field', 'withLabelIn', 'input')(type="text" name="price-per-day-from")
      +e('item', 'doubled', 'label')
        +e('label', 'intoInput') до:
        +e('field', 'withLabelIn', 'input')(type="text" name="price-per-day-to")

  +e('col', 'button.center')
    +e('item', 'button')
      +b('button', { e: '&' }, 'button')(type="submit") Поиск

