// form - questions
+b('form', 'questions', 'form')(action="" method="post")

  +e('main')
    +e('item', '', 'label')
      +e('label', 'hidden') Имя
      +e('field', '', 'input')(type="text" name="name" placeholder="Имя")

    +e('item', '', 'label')
      +e('label', 'hidden') Email
      +e('field', '', 'input')(type="email" name="email" placeholder="Email")

    +e('item', '', 'label')
      +e('label', 'hidden') Телефон
      +e('field', '', 'input')(type="tel" name="phone" placeholder="Телефон")

    +e('item', '', 'label')
      +e('label', 'hidden') Ваш вопрос
      +e('field', 'textarea', 'textarea')(name="message" placeholder="Ваш вопрос")


    +e('item', 'agreement')
      +e('label', 'agreement') Нажимая на кнопку  «Задать вопрос», Вы соглашаетесь с#{' '}
        a(href="#0" target="_blank") политикой конфиденциальности


    +e('item', 'button')
      +b('button', { e: '&' }, 'button')(type="submit") Задать вопрос



