// form - consultation
+b('form', 'consultation.inline', 'form')(action="" method="post")

  +e('main')

    +e('item', '', 'label')
      +e('label', 'hidden') Ваше имя
      +e('field', '', 'input')(type="text" placeholder="Ваше имя" name="name")

    +e('item', '', 'label')
      +e('label', 'hidden') Телефон
      +e('field', '', 'input')(type="tel" placeholder="Телефон" name="phone")

    +e('item', '', 'label')
      +e('label', 'hidden') E-mail
      +e('field', '', 'input')(type="email" placeholder="E-mail" name="email")


    +e('item', 'button')
      +b('button', { e: '&' }, 'button')(type="submit") Задать вопрос

  +e('item', 'agreement.popup', 'label')
    //+e('checkbox', '', 'input')(type="checkbox" required)
    +e('label') Нажимая на кнопку «Задать вопрос» вы соглашаетесь с#{' '}
      a(href="#0" target="_blank") политикой конфиденциальности

