+e('main', 'row.buy')
  +e('col')
    +e('item', '', 'label')
      +e('label', '') Тип:
      +e('field', 'select.type', 'select')(name="type")
        option(selected data-form-type="buy" value="buy") Купить
        option(data-form-type="rent" value="rent") Арендовать
        option(data-form-type="buy" value="new") Новострой

  +e('col')
    +e('item', '', 'label')
      +e('label', '') Город:
      +e('field', 'city', 'input')(type="text" name="city" placeholder="Город" autocomplete="off")

  +e('col')
    +e('items', '2col')
      +e('item', '2col', 'label')
        +e('label', '') Комнаты:
        +e('field', 'select', 'select')(name="rooms")
          option(selected) 1 комн.
          option 2 комн.
          option 3 комн.
          option 4 комн.
      +e('item', '2col', 'label')
        +e('label', '') Ванные комнаты:
        +e('field', 'select', 'select')(name="bathrooms")
          option(selected) 1 комн.
          option 2 комн.
          option 3 комн.
          option 4 комн.

  +e('col')
    +e('label', '') Площадь м2:
    +e('items', 'area.doubled')
      +e('item', 'doubled', 'label')
        +e('label', 'intoInput') от:
        +e('field', 'withLabelIn', 'input')(type="text" name="area-from")
      +e('item', 'doubled', 'label')
        +e('label', 'intoInput') до:
        +e('field', 'withLabelIn', 'input')(type="text" name="area-to")

  +e('col')
    +e('label', '') Стоимость:
    +e('items', 'price.doubled')
      +e('item', 'doubled', 'label')
        +e('label', 'intoInput') от:
        +e('field', 'withLabelIn', 'input')(type="text" name="price-from")
      +e('item', 'doubled', 'label')
        +e('label', 'intoInput') до:
        +e('field', 'withLabelIn', 'input')(type="text" name="price-to")

  +e('col', 'button')
    +e('item', 'button')
      +b('button', { e: '&' }, 'button')(type="submit") Поиск

