// vnzAddInfo -- terms
+b('vnzAddInfo', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('image', 'terms'): img(src="./files/vnz-info-map.png" alt="")
    +e('heading', { e: 'block' }, 'h2') Условия и требования
    +e('body', { e: 'block' })
      ol
        li Наличие стабильного дохода, получаемого соискателем за пределами Испании:
          ul
            li справки с работы;
            li декларации о доходах;
            li договора аренды недвижимости;
            li доходы от акций и депозитов;
            li дивиденды и т.д

        li Выписка из испанского банка о наличии средств для проживания в Испании, которые, согласно законодательству рассчитываются не менее 400% IPREM на главу семьи и 100% IPREM на каждого члена семьи. В 2018 году IPREM составил 537,84 евро. Таким образом, минимальная сумма, которая должна быть на счету в испанском банке для семьи из трех человек, составит: 537, 84* (400%+100%+100%) * 12 месяцев = 38.724,48 евро.
        li Документы о наличии жилья в Испании. Жилье может быть, как в собственности, так и арендованное. Последнее должно быть подкреплено контрактом на аренду, длительностью на один год или более.
        li Испанская медицинская страховка.
        li Дети старше 6 лет должны быть зачислены в частную испанскую школу.