-
  textBlockData = {
  title: 'Вид на жительство без права на работу',
  iconList: [
  {
  text: 'Вид на жительство без права на работу могут оформить граждане стран, не входящих в ЕС. Данный вид ВНЖ дает законное право проживать на территории Испании без осуществления трудовой деятельности. Поэтому соискатель должен подтвердить наличие стабильного дохода, получаемого в любой точки мира.',
  mod: 'cash'
  },
  {
  text: 'Вид на жительство без права на работу не дает права владельцу работать по найму, но не запрещает открыть собственный бизнес на территории Испании, нанимать работников и получать доход от деятельности своей компании.',
  mod: 'briefcase'
  },
  {
  text: 'После первого продления ВНЖ, то есть через один год, имеется возможность модификации ВНЖ с получением права на работу.',
  mod: 'talk'
  },
  {
  text: 'Согласно испанскому законодательству гражданин, получивший вид на жительство без права на работу, должен находится в Испании более 183 дней в год. Несоблюдение данного пункта может привести в аннуляции вида на жительства.',
  mod: 'calender'
  }
  ]
  }
include ../text-block

-
  vnzAdvantagesData = [
  {
  text: 'Простой порядок оформления документов',
  icon: 'file',
  addtext: 'помогаем собрать необходимый пакет документов'
  },
  {
  text: 'Высокое качество жизн для себя и семьи:',
  icon: 'care',
  addtext: 'мягкий климат, непревзойденная гастрономия, европейское образование, одна из лучших в Европе медицина'
  },
  {
  text: 'Сравнительно небольшие экономические вложения',
  icon: 'bills',
  addtext: 'минимальная сумма для семьи из 3-х человек – 38 724 евро. Можно использовать после получения ВНЖ'
  },
  ]
  vnzAdvantagesMod = '3cols'
include vnz-advantages

-
  textBlockData = {
  title: 'Порядок оформления',
  body: '<ol>' +
  '<li>В соответствии с законодательством Испании, прошение о получении вида на жительство в Испании подается заявителем в консульстве Испании в России.</li>' +
  '<li>Срок ожидания составляет до 3-х месяцев. При получении положительного ответа, в паспорт заявителя вклеивается виза D, разрешающая въезд в Испанию и оформление карты резидента. Продление вида на жительство оформляется на территории Испании.</li>' +
  '</ol>'
  }
  textBlockMod = 'likeVnzAddInfo'
include ../text-block

include vnz-add-info--terms