-
  textBlockData = {
    title: 'Золотая виза инвестора',
    body: '<p>В 2013 году Испания приняла закон “о поддержке предпринимателей и интернализации предпринимательства”, предусматривающий особые условия пребывания в Испании иностранных инвесторов. При покупке недвижимости или других активов, инвестор получает право на получение вида на жительства в Испании.\n</p>'
  }
include ../text-block

- vnzAdvantagesData = null
- vnzAdvantagesMod = null
include vnz-advantages
include vnz-add-info--terms-investor
include vnz-add-info--requirements-investor