-
  var defaultData = {
    title: 'ВНЖ без права на работу',
    active: false,
    id: 'simple',
    items: [
    {
      value: 'стабильный доход',
      label: 'условия получения'
    },
    {
      value: '3-6 месяцев',
      label: 'сроки оформления'
    },
    {
      value: '185 дней в году',
      label: 'обязательные сроки проживания '
    },
    {
      value: 'нет',
      label: 'налоговые льготы'
    },
    {
      value: 'нет',
      label: 'налоговые льготы'
    },
    ]
  }

  var data = vnzTypesCardData || defaultData;
  mods = data.active ? 'active' : '';
//  mods = mods + '.' + data.mod

// vnzTypesCard
+b('vnzTypesCard', {m: mods}, 'a')(href="#vnz-"+data.id data-scroll)
  +e('title', '' ,'h3')= data.title
  +e('list', '', 'ul')
    for item in data.items
      +e('item')
        +e('value')= item.value
        +e('label')= item.label