// vnzAddInfo -- terms-investor
+b('vnzAddInfo', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('image', 'termsInvestor'): img(src="./files/terms-investor.jpg" alt="")
    +e('heading', { e: 'block' }, 'h2') Условия получения
    +e('body', { e: 'block' })
      ol
        li Покупка объекта или нескольких объектов недвижимости общей стоимостью более 500 000 €
        li Депозит в банке Испании на сумму 1 000 000 €
        li Инвестиции в государственный долг Испании на сумму от 2 000 000 €
        li Осуществление перспективного бизнес-проекта с созданием рабочих мест, социально - экономическим влиянием в регионе и вкладом в научные и технологические инновации.
      p Золотая виза инвестора в Испании распространяется на супруга/у инвестора, несовершеннолетних детей, финансово зависимым родителям и совершеннолетним детям до 26 лет.