// vnzAddInfo -- requirements-investor
+b('vnzAddInfo', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('image', 'requirementsInvestor'): img(src="./files/requirement-investor.png" alt="")
    +e('heading', { e: 'block' }, 'h2') Требования к заявителям
    +e('body', { e: 'block' })
      ul
        li Возраст заявителя старше 18 лет
        li Легальное пребывание на территории Испании, отсутствие задолженностей перед налоговой в Испании
        li Наличие частной медицинской страховки
        li Наличие достаточного количества денежных средств в банке Испании для покрытия личных расходов на проживание в Испании
        li Официальные документы, подтверждающие наличие инвестиции у инвестора.