-
  var cards = [
  {
  title: 'ВНЖ без права на работу',
  active: true,
  id: 'simple',
  items: [
  {
  value: 'стабильный доход',
  label: 'условия получения'
  },
  {
  value: '3-6 месяцев',
  label: 'сроки оформления'
  },
  {
  value: '185 дней в году',
  label: 'обязательные сроки проживания '
  },
  {
  value: 'нет',
  label: 'налоговые льготы'
  },
  {
  value: 'нет',
  label: 'налоговые льготы'
  },
  ]
  },
  {
  title: 'ВНЖ инвестора',
  active: false,
  id: 'investor',
  items: [
  {
  value: 'недвижимость от 500 000 €',
  label: 'условия получения'
  },
  {
  value: '1-3 месяцев',
  label: 'сроки оформления'
  },
  {
  value: '1-3 дней в годы',
  label: 'обязательные сроки проживания '
  },
  {
  value: 'да',
  label: 'налоговые льготы'
  },
  {
  value: 'да',
  label: 'налоговые льготы'
  },
  ]
  },

  ]

// vnzTypes
+b('vnzTypes', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    h2.visually-hidden Варианты ВНЖ
    +e('slider', {b: 'itemSlider'})
      +e('list', '', 'ul')
        for item in cards
          - var vnzTypesCardData = item;
          +e('item')
            include ./vnz-types-card
      +e('dots', {e: 'itemSlider'})
        +e('dot', {e: 'itemSlider'}, 'button') 1
        +e('dot', {e: 'itemSlider'}, 'button') 2

