-
  var defaultData = [
  {
    text: 'Оформление документов занимает от 1- 3 месяцев',
    icon: 'calender',
  },
  {
    text: 'Достаточно появиться в Испании 1 раз в год',
    icon: 'calenderSheet'
  },
  {
    text: 'Вид на жительство дает право работать в Испании',
    icon: 'personBriefcase'
  },
  {
    text: 'Становиться фискальным резидентом Испании — выбор инвестора',
    icon: 'bills'
  },
  {
    text: 'Свободное путешествие по шенгенской зоне',
    icon: 'navigation'
  },
  ]

  var data = vnzAdvantagesData || defaultData
  var mod = vnzAdvantagesMod || ''

// vnzAdvantages
+b('vnzAdvantages', { b: 'block', m: mod }, 'section')
  +e('inner', { e: 'block' })
    +e('heading', { e: 'block' }, 'h2') Преимущества
    +e('list', '', 'ul')
      for i in data
        +e('item', {m: i.icon}) !{i.text}
          if i.addtext
            +e('addtext') !{i.addtext}
