// vnzTiter
+b('vnzTiter', { b: 'block' }, 'section')
  +e('inner', { e: 'block' })
    +e('main')
      +e('heading', { e: 'block' }, 'h1') Вид на жительство
      +e('dscr', { e: 'body' }, 'p') Для переезда и проживания в Испании на протяжении длительного срока, необходимо получить вид на жительство. На сегодняшний день Испания предлагает несколько вариантов:
    +e('image'): img(src="./files/visa.png" alt="")