.about {
  padding-top: 130px;
  padding-bottom: 185px;
  background-color: $color-bg-light;
  position: relative;

  @include media(msl) {
    padding-top: 65px;
    padding-bottom: 75px;
  }

  &::before {
    content: url(../images/about-doc-2@640.png);
    position: absolute;
    top: -65px;
    left: calc(50% - 680px);

    @include media(mtp) {
      content: url(../images/about-doc@510.png);
      top: -25px;
      left: calc(50% - 590px);
    }

    @include media(msl) {
      content: url(../images/about-doc@150.png);
      top: -55px;
      left: unset;
      right: -30px;
    }
  }

  &::after {
    content: 'Laumar Homes';
    position: absolute;
    left: calc(50% - 80px);
    bottom: -150px;
    width: 4.5em;
    text-shadow: 0 0 20px #f6f6f6;
    color: #ffffff;
    font-size: 130px;
    font-weight: 700;
    line-height: 1.1539;

    @include media(mtp) {
      font-size: 110px;
      bottom: -120px;
    }

    @include media(msl) {
      font-size: 50px;
      bottom: -55px;
      left: 10px;
    }
  }
}

.about__inner {
  padding-left: 590px;

  @include media(mtl) {
    padding-left: 50%;
  }

  @include media(mtp) {
    padding-left: 43%;
  }

  @include media(msl) {
    padding-left: 10px;
  }
}

.about__heading {
  margin-bottom: 20px;
}

.about__body {
  font-size: 18px;
  line-height: 1.444;

  @include media(mtp) {
    font-size: 16px;
  }

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

