.breadCrumbs {
  color: $color-text-light;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 30px;

  @include media(mtp) {
    margin-top: 30px;
  }
}

.breadCrumbs__inner {}

.breadCrumbs__nav {}

.breadCrumbs__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.breadCrumbs__item {
  &:last-child {
    &::after {
      content: none;
    }
  }
  &::after {
    content: '|';
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.breadCrumbs__link {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.2s;

  &:hover {
    color: $color-style;
  }
}

