.button {
  display: inline-block;
  appearance: none;
  line-height: 1;
  border-width: 0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 1.3em 3.3em;
  box-sizing: border-box;
  transition-duration: 0.2s;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $color-button;
  box-shadow: $shadow-button;

  @include media(msl) {
    font-size: 14px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.button--alt {
  background-color: $color-accent;
}
