.cityList {
  position: absolute;
  top: calc(100% - 4px);
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 4px 7px 17px rgba(0,0,0,.07);
  z-index: 99;
  max-height: 240px;
  overflow-y: auto;

  &::before {
    content: '';
    display: block;
    width: calc(100% - 32px);
    height: 1px;
    background-color: #efefef;
    margin-right: auto;
    margin-left: auto;
  }
}

.cityList__item {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 10px 20px;
  color: $color-text-light;

  &:hover {
    color: $color-text;
  }
}
