.contacts {
  padding-top: 80px;
  padding-bottom: 95px;
  background-color: $color-bg-light;
  color: $color-title;

  @include media(msl) {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.contacts__inner {}

.contacts__heading {
  text-align: center;
  margin-bottom: 20px;
}

.contacts__content {
  display: flex;
  align-items: flex-start;
  font-style: normal;

  @include media(mtp) {
    display: block;
  }
}

.contacts__image {
  position: relative;
  z-index: 1;
  margin-top: 65px;

  @include media(mtp) {
    display: none;
  }
}

.contacts__main {
  width: 665px;
  max-width: 100%;
  margin-left: -90px;
  padding: 40px 40px 40px 120px;
  box-sizing: border-box;
  box-shadow: $shadow-big;
  border: 20px solid #ffffff;

  @include media(mtp) {
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msl) {
    font-size: 14px;
    border-width: 8px;
    padding: 40px 20px 20px;
  }
}

.contacts__row {
  display: flex;

  @include media(msp) {
    display: block;
  }
}

.contacts__col {
  display: flex;
  flex-direction: column;
  lost-column: 1/2 2 55px;

  @include media(msp) {
    display: block;
    lost-column: 1/1;
  }
}

.contacts__item {
  margin-bottom: 35px;

  @include media(msp) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;

    @include media(msp) {
      margin-bottom: 30px;
    }
  }

  &--button {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.contacts__label {
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.contacts__value {
  display: block;
  font-weight: 400;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;

  &--phone {
    letter-spacing: 0.0625em;
    margin-bottom: 3px;
  }
}

.contacts__button {
  display: block;
  padding: 1.3em 2.6em;
  font-size: 14px;
  width: 100%;
}
