.contactsFooter {
  @include media(msl-only) {
    display: flex;
    justify-content: space-between;
  }
}

.contactsFooter__item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contactsFooter__label {
  color: #656565;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 8px;
}

.contactsFooter__value {
  color: #949fab;
  font-weight: 600;
  letter-spacing: 0.06286em;
  line-height: 1;
  text-decoration: none;
}

