.copyright {
  padding-top: 15px;
  padding-bottom: 20px;
}

.copyright__inner {
  @include grid;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include media(msl) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.copyright__logo {
  width: 150px;
  margin-right: 85px;
  opacity: 0.5;

  @include media(msl) {
    display: none;
  }
}

.copyright__policy {
  margin-right: auto;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include media(msl) {
    margin-left: auto;
    order: 2;
    margin-top: 20px;
  }
}

.copyright__developer {
  display: flex;
  align-items: center;

  @include media(msl) {
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    color: $color-style;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: #515768;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

