.faq {
  margin-top: 60px;
  margin-bottom: 60px;

}

.faq__inner {}

.faq__heading {
  margin-bottom: 40px;
}

.faq__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.faq__item {
  lost-column: 1/3;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: $shadow-body;
  border-radius: 6px;
  padding: 40px 20px 65px;
  box-sizing: border-box;

  @include media(mtp) {
    lost-column: 1/2;
  }

  @include media(msl) {
    lost-column: 1/1;
    padding: 20px 20px 45px;
  }

  &::before {
    content: url(../images/faq.svg);
    display: block;
    margin-bottom: 13px;
  }

}

.faq__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.333;
  min-height: calc(2*(18px*1.333));

  @include media(msl) {
    min-height: unset;
  }

  @include media(msp) {
    font-size: 14px;
  }

}

.faq__body {
  color: $color-text-light;
  line-height: 1.25;

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

