.filterListingBlock {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color-bg-light;

  @include media(msl) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;

    transition-duration: 0.4s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-110%);

    padding-top: 35px;
    padding-bottom: 40px;
  }

  &--opened {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.filterListingBlock__inner {}

.filterListingBlock__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @include media(msl) {
    @include visually-hidden-reset;
  }
}

.filterListingBlock__heading {
  font-size: 22px;
}

.filterListingBlock__clear {
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: $color-text-style;
  margin-right: 20px;
  margin-left: auto;
  outline: none;
}

.filterListingBlock__filter {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;

  &--short {
    max-width: 1000px;

    @include media(mtp) {
      max-width: 800px;
    }
  }
}

