.filterBlock {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $color-bg-light;

  @include media(msl) {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.filterBlock--withOutHeader {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filterBlock__inner {}

.filterBlock__heading {
  text-align: center;
  margin-bottom: 15px;
}

.filterBlock__dscr {
  text-align: center;
  color: $color-text-light;
  max-width: 33em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}

.filterBlock__filter {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

