.form {

  @include media(msl) {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  &--inline {
    .form__main {
      display: flex;
      justify-content: space-between;

      @include media(msl) {
        display: block;

      }
    }

    .form__item {
      margin-right: 30px;
      flex-grow: 1;
      margin-bottom: 0;

      @include media(mtp) {
        margin-right: 10px;
      }

      @include media(msl) {
        margin-bottom: 20px;
        margin-right: 0;
      }

      &--agreement {
        margin-top: 17px;
        text-align: left;

        @include media(msl) {
          margin-top: 25px;
          text-align: center;
          font-size: 10px;
        }

        .form__label {
          font-size: 12px;
        }

        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            color: $color-style;
          }
        }
      }

      &--button {
        margin-right: 0;
        flex-grow: 0;
        flex-shrink: 0;

        @include media(msl) {
          text-align: center;
        }
      }
    }

    .form__field {
      @include media(mtp) {
        font-size: 14px;
      }
    }

    .form__button {
      margin-top: 0;
      margin-left: 25px;

      @include media(mtp) {
        margin-left: 0;
        padding: 1.1em 2em;
      }

      @include media(msl) {
        margin-top: 5px;
      }

      @include media(msp) {
        width: calc(100% - 30px);
      }
    }
  }

  &--filter {

    .form__item {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .form__label {
      white-space: nowrap;
    }

    .form__button {
      margin-top: 0;
      box-shadow: $shadow-button;
      width: 100%;
      font-size: 14px;
      padding: 1.215em 3.3em;

      @include media(mtp) {
        font-size: 13px;
      }

      @include media(msl) {
        margin-top: 25px;
        font-size: 16px;
        padding-top: 1.063em;
        padding-bottom: 1.063em;
      }
    }
  }

  &--rent {
    font-size: 14px;

    .form__col {
      lost-column: 1/3 3 20px;

      @include media(mtp) {
        lost-column: 1/2 2 20px;
      }

      @include media(msl) {
        lost-column: 1/1;
      }

      &--center {
        // чтобы перебить lostGrid
        &:nth-child(n) {
          margin-left: auto;
          margin-right: auto;
        }

      }
    }

    .form__item--2col {
      width: calc(50% - 10px);
    }

    .form__item--button {
      margin-top: 20px;

      @include media(msl) {
        margin-top: 0;
      }
    }
  }

  &--findHouse {
    .form__main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .form__item:not(.form__item--agreement) {
      lost-column: 1/3;
      margin-bottom: 20px;

      @include media(mtp) {
        lost-column: 1/2;
      }

      @include media(msl) {
        lost-column: 1/1;
      }
    }

    .form__item--agreement .form__label {
      text-align: left;
      font-size: 12px;

      @include media(msl) {
        text-align: center;
      }
    }

    .form__field {
      @include media(mtl) {
        font-size: 12px;
      }
    }

    .form__button {
      width: 100%;

      @include media(mtl) {
        font-size: 12px;
      }
    }
  }
}

.form__main {
  &--row {
    display: flex;
    flex-wrap: wrap;

    @include media(msl) {
      display: block;
    }
  }
  &[hidden] {
    display: none;
  }
}

.form__col {
  lost-column: 1/3;
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include media(mtp) {
    lost-column: 1/3 3 15px;
  }

  @include media(msl) {
    lost-column: 1/1;
  }

  &--button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }


}

.form__items {
  padding: 0;
  border: none;
  margin: 0;

  &--2col {
    display: flex;
    justify-content: space-between;
  }

  &--doubled {
    display: flex;
    box-shadow: $shadow;
    border-radius: 6px;
    overflow: hidden;
  }

  .form__item {
    margin-bottom: 0;
  }
}

.form__item {
  display: block;
  margin-bottom: 17px;
  position: relative;

  &--2col {
    width: calc(50% - 15px);

    @include media(mtp) {
      width: calc(50% - 7.5px);
    }
  }
  
  &--doubled {
    position: relative;
    width: 50%;
    margin-bottom: 0;

    &:nth-child(2n)::before {
      content: '';
      position: absolute;
      width: 1px;
      top: 7px;
      bottom: 7px;
      background-color: $color-header-border;
      opacity: 0.2;
      left: 0;
    }
  }

  &--agreement {
    text-align: center;
  }

  &--button {
    text-align: center;
  }
}

.form__label {
  display: block;
  color: $color-text-light;
  font-size: 14px;
  margin-bottom: 10px;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msl) {
    font-size: 14px;
  }
  
  &--intoInput {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 400;
    color: $color-text-input;

    @include media(mtp) {
      font-size: 12px;
    }
  }

  &--hidden {
    @include visually-hidden;
  }

  &--agreement {
    margin-top: 30px;
    font-size: 12px;
    color: #90919e;

    @include media(msp) {
      margin-top: 15px;
    }

    a {
      display: inline;
      text-decoration: none;
      color: $color-title;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form__field {
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 15px 16px;
  box-shadow: $shadow;
  font-weight: 400;
  color: $color-text-input;

  @include media(mtp) {
    font-size: 14px;
  }

  &::placeholder {
    color: #d0c9d6;
    font-weight: 400;
  }

  &--withLabelIn {
    padding-left: 50px;
    box-shadow: none;
    border-radius: 0;

    @include media(mtp) {
      padding-left: 40px;
    }
  }

  &--city {
    padding-left: 40px;
    background-image: $icon-map-pointer;
    background-repeat: no-repeat;
    background-position: 16px center;
  }

  &--select {
    appearance: none;
    background-image: $icon-small-arrow;
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) center;
    padding-right: 45px;
  }

  &--textarea {
    resize: none;
    height: 90px;
  }

}

.form__checkbox {
  @include visually-hidden;

  &+.form__label {
    display: block;
    position: relative;
    padding-left: 30px;
  }

  &:checked+.form__label::after {
    border-width: 3.5px;
  }

  &+.form__label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: rgba(#fff, 0.25);
  }

  &+.form__label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #9655c9;
    background-clip: padding-box;
    box-sizing: border-box;
    border: 8.5px solid transparent;
    transition-duration: 0.2s;
  }
}

.form__button {
}

.form__error {
  text-align: center;
  //color: #d92626;
  font-weight: 400;
  margin-top: 20px;
  //text-shadow: 0 0 2px #fff;

  strong {
    font-weight: 700;
    border-bottom: 1px solid red;
  }
}


/**
 * styles for WP CF7
 */
.span.wpcf7-not-valid-tip {
  font-size: 12px;
  margin-top: 6px;
  color: $color-err;
}

div.wpcf7-response-output {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: none;
  color: $color-err;
}

div.wpcf7-mail-sent-ok {
  border: none;
  color: $color-style;
}