.haveAQuestion {
  margin-top: 80px;
  margin-bottom: 60px;

  @include media(msl) {
    text-align: center;
  }
}

.haveAQuestion--noImage {
  .haveAQuestion__inner {
    padding: 50px 55px;
    border: none;
    background-color: #fff;

    @include media(msl) {
      padding: 0;
    }

    &::before {
      content: none;
    }
  }

  .haveAQuestion__main {
    display: flex;
    align-items: center;

    @include media(msl) {
      display: block;
    }
  }

  .haveAQuestion__heading {
    margin-right: 25px;
    margin-bottom: 0;

    @include media(msl) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .haveAQuestion__dscr {
    max-width: 20em;

    @include media(msl) {
      max-width: 22em;
    }
  }
}

.haveAQuestion__inner {
  box-sizing: border-box;
  padding: 40px 65px 30px 195px;
  border: 14px solid #fff;
  box-shadow: $shadow-body;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include media(mtl) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media(mtp) {
    padding: 20px 35px 20px 165px;
  }

  @include media(msl) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-shadow: none;
    border: none;
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    left: 35px;
    bottom: 5px;
    width: 152px;
    height: 174px;
    background-image: url(../images/have-question.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include media(mtp) {
      left: 5px;
    }

    @include media(msl) {
      content: none;
    }
  }
}

.haveAQuestion__main {}

.haveAQuestion__heading {
  font-size: 26px;
  margin-bottom: 5px;

  @include media(msl) {
    margin-bottom: 10px;
  }
}

.haveAQuestion__dscr {
  opacity: 0.5;
  font-size: 14px;

  @include media(msl) {
    max-width: 22em;
    margin-right: auto;
    margin-left: auto;
  }
}

.haveAQuestion__button {
  margin-left: 40px;
  flex-shrink: 0;

  @include media(msl) {
    margin-top: 20px;
    margin-left: 0;
  }

  @include media(msp) {
    width: 100%;
  }
}

