.infoStagesPreviewItem {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  color: $color-title;
  text-decoration: none;
  counter-increment: navItem;

  @include media(mtp) {
    align-items: center;
  }

  @include media(msl) {
    padding-bottom: 0;
  }

  &:hover {
    .infoStagesPreviewItem__title {
      color: $color-style;
    }
    
    .infoStagesPreviewItem__body::after {
      opacity: 1;
      transform: translateX(0);
    }

    .infoStagesPreviewItem__image {
      transform: scale(1.1);
    }
  }
}

.infoStagesPreviewItem--inverse {
  flex-direction: row-reverse;

  .infoStagesPreviewItem__main {
    padding-left: 100px;
    padding-right: 80px;

    @include media(mtl) {
      padding-right: 0;
    }

    @include media(msl) {
      padding-left: 60px;
      padding-right: 10px;
    }

    &::before {
      left: 36px;
      right: unset;

      @include media(msl) {
        left: 10px;
      }

      @include media(msp) {
        left: 0;
      }
    }

    &::after {
      left: 49px;
      right: unset;

      @include media(msl) {
        left: 25px;
      }

      @include media(msp) {
        top: 40px;
        left: 9px;
      }
    }
  }
}

.infoStagesPreviewItem--withoutLine {
  .infoStagesPreviewItem__main::after {
    content: none;
  }
}

.infoStagesPreviewItem__main {
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 80px;
  position: relative;
  box-sizing: border-box;
  width: 54.2%;

  @include media(mtl) {
    padding-left: 20px;
    width: 55.2%;
  }

  @include media(mtp) {
    width: 57%;
  }

  @include media(msl) {
    width: auto;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 60px;
  }

  @include media(msp) {
    padding-left: 40px;
  }

  &::before {
    content: counter(navItem);
    position: absolute;
    top: 20px;
    right: 36px;
    text-align: center;
    font-size: 56px;
    line-height: 1;
    font-weight: 800;
    opacity: 0.21;

    @include media(msl) {
      top: -10px;
      left: 10px;
      right: unset;
    }

    @include media(msp) {
      font-size: 35px;
      left: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 95px;
    bottom: -30px;
    right: 49px;
    width: 1px;
    background-color: #cecfe0;

    @include media(msl) {
      top: 65px;
      left: 25px;
      right: unset;
      bottom: 0;
    }

    @include media(msp) {
      top: 40px;
      left: 9px;
    }
  }
}

.infoStagesPreviewItem__title {
  color: $color-title;
  font-size: 36px;
  line-height: 1.2778;
  margin-bottom: 25px;
  font-weight: 800;
  transition-duration: 0.3s;

  @include media(mtl) {
    font-size: 28px;
  }

  @include media(msp) {
    font-size: 22px;
  }
}

.infoStagesPreviewItem__body {
  @include usual-list;
  line-height: 1.375;
  padding-right: 100px;
  position: relative;
  padding-bottom: 22px;

  @include media(mtl) {
    padding-right: 0;
  }

  @include media(msp) {
    font-size: 12px;
  }

  &::after {
    content: $icon-title-arrow;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    transition-duration: 0.3s;
    opacity: 0;
    transform: translateX(-10px);

    @include media(msl) {
      content: none;
    }
  }
}

.infoStagesPreviewItem__image {
  width: 500px;
  flex-shrink: 0;
  transition-duration: 0.3s;

  @include media(mtl) {
    width: 44%;
  }

  @include media(msl) {
    display: none;
  }
}

.infoStagesPreviewItem__link {
  display: none;
  color: $color-text-style;
  font-size: 14px;
  line-height: 1;
  text-align: right;

  @include media(msl) {
    display: block;
  }

  &::after {
    content: $icon-read-more-icon;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 0.5em;
  }
}

