.infoMain {
  counter-reset: infoMainItem;
}

.infoMain__inner {}

.infoMain__list {
  @include list-reset;
}

.infoMain__item {
  counter-increment: infoMainItem;
  position: relative;
  padding-left: 50px;
  margin-bottom: 45px;

  @include media(msp) {
    padding-left: 35px;
  }

  &::before {
    content: counter(infoMainItem);
    position: absolute;
    top: -0.28em;
    left: 0;
    font-size: 56px;
    font-weight: 800;
    line-height: 1;
    color: $color-title;
    opacity: 0.21;

    @include media(msp) {
      font-size: 36px;
      top: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 12px;
    top: 50px;
    bottom: 5px;
    width: 1px;
    background-color: #cecfe0;

    @include media(msp) {
      left: 10px;
    }
  }
}

