.infoDocs {
  position: relative;
  padding-left: 41px;
  margin-top: 1.563em;

  &::before {
    content: '';
    position: absolute;
    top: -0.3em;
    left: 0;
    width: 21px;
    height: 21px;
    background-image: $icon-docs;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.infoDocs__label {
  font-weight: 700;
}
