.infoStagesPreview {
  counter-reset: navItem;
  margin-bottom: 60px;
}

.infoStagesPreview--service {
  .infoStagesPreview__heading {
    font-size: 46px;

    @include media(msl) {
      font-size: 36px;
    }

    @include media(msp) {
      font-size: 32px;
    }
  }

  .infoStagesPreviewItem:hover {
    .infoStagesPreviewItem__title {
      color: inherit;
    }

    .infoStagesPreviewItem__body::after {
      display: none;
    }

    .infoStagesPreviewItem__image {
      transform: none;
    }
  }
}

.infoStagesPreview__inner {}

.infoStagesPreview__heading {
  font-size: 56px;
  margin-bottom: 20px;

  @include media(mtl) {
    font-size: 46px;
  }

  @include media(msl) {
    font-size: 36px;
  }

  @include media(msp) {
    font-size: 32px;
  }
}

.infoStagesPreview__list {
  @include list-reset;
}

.infoStagesPreview__item {}

.infoStagesPreview__buttonWrapper {
  text-align: center;
}

.infoStagesPreview__button {
  @include media(msl) {
    margin-top: 30px;
  }
}

