.infoMainItem {
  @include base-ol;
  line-height: 1.375;
  font-weight: 400;

  @include media(msp) {
    font-size: 12px;
  }

  h3 {
    font-size: 26px;

    @include media(msp) {
      font-size: 18px;
    }
  }

  h4 {
    margin-bottom: 0.2em;

    @include media(msp) {
      font-size: 1.2em;
    }
  }

  h5 {
    font-size: inherit;
  }

  dl {
    margin-top: 0;
  }

  dt {
    display: inline;
    font-weight: 700;
  }

  dd {
    display: inline;
    margin-left: 0;
    margin-bottom: 1em;

    &::after {
      content: '';
      display: block;
      margin-bottom: 0.5em;
    }
  }

  b {
    color: $color-title;
    font-weight: 700;
  }
}

.infoMainItem__title {
  font-size: 36px;
  margin-bottom: 35px;

  @include media(mtp) {
    font-size: 28px;
  }

  @include media(msp) {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

.infoMainItem__list {}

.infoMainItem__item {
  @include usual-list(false);

  ul {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

}

.infoMainItem__otherInfo {
  margin-top: 50px;
  padding: 55px 35px 65px;
  box-shadow: $shadow-body;
  border: 14px solid #fff;

  @include media(msl) {
    padding: 20px 25px 50px;
  }

  @include media(msp) {
    box-shadow: none;
    padding: 20px 0 0 39px;
    border: none;
  }
}

.infoMainItem__otherInfo--itemEl {
  position: relative;
  padding: 0 0 0 35px;
  border: none;
  box-shadow: none;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $color-accent;
  }
}
