.itemTiter {
  margin-bottom: 120px;

  @include media(msl) {
    margin-bottom: 60px;
  }
}

.itemTiter__inner {
  padding-top: 50px;
  position: relative;

  @include media(mtp) {
    padding-top: 0;
  }
}

.itemTiter__slider {
  position: absolute;
  width: 445px;
  left: 40px;
  top: 0;

  @include media(mtl) {
    width: 45%;
  }

  @include media(msl) {
    position: static;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  @include media(msp) {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
  }
}

.itemTiter__content {
  background-color: $color-bg-light;
  padding: 35px 40px 50px 525px;

  @include media(mtl) {
    padding-left: 55%;
  }

  @include media(msl) {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }
}

.itemTiter__heading {
  font-size: 36px;
  line-height: 1.1667;
  padding-right: 20%;
  margin-bottom: 7px;

  @include media(mtp) {
    font-size: 28px;
  }

  @include media(msl) {
    font-size: 22px;
  }
}

.itemTiter__underTitle {

}

.itemTiter__name {
  font-size: 18px;
  color: $color-text-light;
  line-height: 1.1;
  margin-right: 0.3em;

  @include media(mtp) {
    font-size: 14px;
  }
}

.itemTiter__onMap {
  font-size: 14px;
  color: $color-text-style;
  text-decoration: none;
  font-weight: 700;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    display: block;
  }

  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    bottom: -2px;
    width: 15px;
    height: 15px;
    background-image: $icon-on-map;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 0.1em;
  }
}

.itemTiter__id {
  text-align: right;
  color: $color-text-light;
  font-size: 14px;
  line-height: 1;

  @include media(msl) {
    order: 3;
    text-align: left;
    margin-bottom: -20px;
    margin-top: 15px;
  }
}

.itemTiter__stats {
  margin-top: 35px;
  margin-bottom: 10px;

  @include media(msl) {
    order: 6;
    margin-top: 45px;
  }
}

.itemTiter__footer {
  text-align: right;

  @include media(msl) {
    order: 4;
  }
}

.itemTiter__price {
  color: $color-title;
  line-height: 1;
  font-size: 26px;
  font-weight: 800;
}

.itemTiter__link {
  color: $color-text-style;
  text-decoration: none;
  transition-duration: 0.2s;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;

  @include media(msl) {
    order: 5;
    background-color: $color-button;
    color: #fff;
    border-radius: 6px;
    box-shadow: $shadow-button;
    padding: 20px 40px;
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
  }

  @include media(msp) {
    margin-top: 35px;
    width: 100%;
    box-sizing: border-box;
  }

  &:hover {
    color: $color-style;
    text-decoration: underline;
  }
}

