.itemSlider {}

.itemSlider--listing {
  .itemSlider__main {
    margin-bottom: 0;
  }
}

.itemSlider__main {
  position: relative;
  margin-bottom: 17px;

  @include media(msl) {
    margin-bottom: 10px;
  }
}

.itemSlider__slides {
  @include list-reset;
  display: flex;
}

.itemSlider__slide {

  &:not(:first-child) {
    display: none;
  }

  @at-root .tns-inner &:not(:first-child) {
    display: block;
  }
}

.itemSlider__dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.itemSlider__dot {
  display: block;
  width: 7px;
  height: 7px;
  padding: 2px 0;
  border: none;
  margin: 0 3px;
  position: relative;
  font-size: 0;
  background-color: rgba(#fff, 0.7);
  background-clip: content-box;
  border-radius: 50%;
  //transition-duration: 0.1s;
  box-sizing: content-box;
  outline: none;
  cursor: pointer;

  &:hover,
  &--active,
  &.tns-nav-active {
    background-color: #fff;
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 2px;
  }

  /*&::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
  }*/
 
}

.itemSlider__arrows {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  outline: none;
}

.itemSlider__arrow {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  padding: 0;
  font-size: 0;
  display: block;
  width: 9px;
  height: 16px;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;

  &--next {
    background-image: $icon-slider-arrow--next;
  }

  &--prev {
    background-image: $icon-slider-arrow--prev;
  }

  &:hover {
    transform: scale(1.3);
  }
}

.itemSlider__thumbnails {
  @include list-reset;
  overflow: hidden;
  margin-left: -7px;
  margin-right: -7px;
}

.itemSlider__thumbnailsInner {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition-duration: 0.3s;
}

.itemSlider__thumbnail {
  width: calc(33.333%);
  box-sizing: border-box;
  padding-right: 7px;
  padding-left: 7px;
  outline: none;
  position: relative;
  user-select: none;
  cursor: pointer;

  @include media(msl) {
    padding-right: 5px;
    padding-left: 5px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 7px;
    bottom: 0;
    left: 7px;
    border: 2px solid $color-style;
    opacity: 0;
    transition-duration: 0.1s;

    @include media(msl) {
      right: 5px;
      left: 5px;
    }
  }

  &.tns-nav-active {
    &::after {
      opacity: 1;
    }
  }
}

