.itemDescription {
  margin-top: 65px;
  margin-bottom: 65px;
}

.itemDescription__inner {
  padding-left: 50px;
  padding-right: 50px;

  @include media(msl) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.itemDescription__heading {
  font-size: 26px;
  margin-bottom: 35px;

  @include media(msl) {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

.itemDescription__body {
  line-height: 1.375;

  @include media(msl) {
    font-size: 14px;
    overflow: hidden;
    transition-duration: 0.3s;
    line-height: 1.5;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.itemDescription__spoiler {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  text-align: right;
  background: none;
  border: none;
  padding: 0;
  color: $color-text-style;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  outline: none;
}

