.itemsList {
  margin-top: 60px;
  margin-bottom: 65px;
}

.itemsList__inner {}

.itemsList__heading {
  font-size: 38px;
  line-height: 1.214;
  text-align: center;
  max-width: 10em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @include media(msl) {
    @include visually-hidden-reset;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msp) {
    font-size: 28px;
  }
}

.itemsList__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @include media(mtp) {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

}

.itemsList__item {
  lost-column: 1/2 2 40px;
  margin-bottom: 40px;

  @include media(mtl) {
    //lost-column: 1/1;
    lost-column: 1/2 2 20px;
    margin-bottom: 20px;
  }

  @include media(mtp) {
    lost-column: 1/1;
    margin-bottom: 40px;
  }

  @include media(msl) {
    margin-bottom: 20px;
  }
}

.itemsList__pager {
  @include media(mtl-only) {
    margin-top: 20px;
  }

  @include media(msl) {
    margin-top: 40px;
  }
}
