.itemCardInList {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: $shadow-listing-card;

  @include media(msl) {
    display: block;
  }
}

.itemCardInList--vertical {
  display: block;

  .itemCardInList__slider {
    width: auto;

    @include media(msp) {
      width: 100%;
    }
  }

  .itemCardInList__main {
    padding: 25px 20px;

    @include media(msl-only) {
      padding: 15px 10px 25px;
    }
  }

  .itemCardInList__id {
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .itemCardInList__title {
    margin-top: 0;

    @include media(msl-only) {
      font-size: 14px;
    }
  }

  .itemCardInList__name {
    margin-top: 6px;
    margin-bottom: 15px;

    @include media(msl-only) {
      font-size: 12px;
    }
  }

  .itemCardInList__stats {
    margin-bottom: 0;
  }

  .itemCardInList__footer {
    display: block;
    text-align: right;
  }

  .itemCardInList__price {
    font-size: 16px;
    margin-top: -17px;

    @include media(mtp) {
      font-size: 14px;
    }

    @include media(msp) {
      font-size: 16px;
    }
  }

}

.itemCardInList__slider {
  width: 220px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-image: $img-villa-pl;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media(mtl-only) {
    width: 150px;
  }

  @include media(msl) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 calc((100% - 300px)/2);
    background-image: $img-villa-pl-mobile;
  }

  @include media(msp) {
    padding: 0;
  }
}


.itemCardInList__main {
  padding: 15px 25px 25px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include media(mtl-only) {
    padding: 15px 15px 20px;
  }

  @include media(msl) {
    padding: 15px 20px 25px;
    display: block;
  }
}

.itemCardInList__id {
  text-align: right;
  font-size: 14px;
  line-height: 1;
  color: $color-text-light;
  margin-bottom: 10px;

  @include media(mtl-only) {
    font-size: 12px;
  }

  @include media(msl) {
    font-size: 12px;
    text-align: left;
  }
}

.itemCardInList__title {
  font-size: 16px;
  font-weight: 800;
  color: inherit;
  line-height: 1.25;
  margin-bottom: auto;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-style;

    }
  }
}

.itemCardInList__name {
  font-size: 14px;
  color: $color-text-light;
  line-height: 1.375;
  margin-top: 10px;
  margin-bottom: 13px;

  @include media(mtl-only) {
    font-size: 12px;
  }

  @include media(msl) {
    margin-bottom: 20px;
  }
}

.itemCardInList__stats {
  margin-bottom: 25px;

  @include media(mtl-only) {
  }

  @include media(msl) {
    margin-bottom: 25px;
  }

  @include media(msp) {
    margin-bottom: 0;
  }
}

.itemCardInList__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: auto;

  @include media(msp) {
    margin-top: -20px;
  }
}

.itemCardInList__price {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  color: $color-style;

  @include media(mtl-only) {
    font-size: 16px;
  }

  @include media(msp) {
    margin-left: auto;
  }
}

.itemCardInList__link {
  font-size: 14px;
  text-decoration: none;
  color: $color-text-light;
  transition-duration: 0.3s;

  @include media(msp) {
    display: none;
  }

  &:hover {
    color: $color-style;

    svg {
      fill: $color-style;
      transform: translateX(5px);
    }
  }

  svg {
    fill: $color-text-light;
    transition-duration: 0.3s;
  }
}

