.itemInfo {
  margin-bottom: 65px;
}

.itemInfo__inner {
  display: flex;
  flex-wrap: wrap;
}

.itemInfo__card {
  lost-column: 1/2 2 40px;
  background-color: #fff;
  box-shadow: $shadow-body;
  //border: 14px solid #fff;
  box-sizing: border-box;
  padding: 55px 40px 35px;

  &:nth-child(n + 3) {
    margin-top: 40px;
  }

  @include media(mtl) {
    padding: 30px 20px 40px 20px;
  }

  @include media(mtp) {
    lost-column: 1/2 2 20px;

    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }

  @include media(msl) {
    lost-column: 1/1;

    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }

  @include media(msp) {
    padding: 40px 10px;
    border-width: 10px;
  }

  &--icons {
    .itemInfo__item {
      padding-left: 40px;

      &::before {
        width: 24px;
        height: 24px;
      }
    }
  }

  &--withOutIcons {
    padding-right: 10px;

    .itemInfo__item {
      lost-column: 1/2 2 0;
      padding-left: 0;
      line-height: 1.5;
      margin-left: 0;

      @include media(mtp) {
        lost-column: 1/1;
      }

      &:nth-child(n + 3) {
        margin-top: 24px;
      }

      &::before {
        content: none;
      }
    }
  }

  &--list {
    .itemInfo__item {
      lost-column: 1/1;
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ECECED;

      &:nth-child(n) {
        margin-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }

      &::before {
        content: none;
      }
    }

    .itemInfo__label {
      margin-right: 20px;
    }
  }

  &--numList {
    counter-set: num;
    counter-increment: num;

    .itemInfo__label {
      font-weight: 500;
      counter-increment: num;

      &::before {
        content: counter(num)'. ';
        font-weight: 700;
      }
    }
  }
}

.itemInfo__heading {
  font-size: 26px;
  line-height: 1.538;
  margin-bottom: 20px;

  @include media(mtp) {
    font-size: 20px;
  }

  @include media(msl) {
    font-size: 22px;
  }
}

.itemInfo__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  transition-duration: 0.3s;
}

.itemInfo__item {
  lost-column: 1/2 2 60px;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 40px;
  position: relative;
  box-sizing: border-box;
  min-height: 20px;

  &:nth-child(n + 3) {
    margin-top: 25px;
  }

  @include media(mtp) {
    lost-column: 1/2 2 30px;
    font-size: 12px;
    padding-left: 25px;

    &:nth-child(n + 3) {
      margin-top: 15px;
    }
  }


  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: $icon-tick;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 19px;
    height: 19px;

    @include media(mtp) {
      width: 16px;
      height: 16px;
    }
  }

  &--parking::before {
    background-image: url(../images/parking.svg);
  }

  &--pool::before {
    background-image: url(../images/pool.svg);
  }

  &--terrace::before {
    background-image: url(../images/terrace.svg);
  }

  &--bbq::before {
    background-image: url(../images/bbq.svg);
  }

  &--garden::before {
    background-image: url(../images/garden.svg);
  }
}

.itemInfo__label {
  font-weight: 700;
  margin-right: 0.5em;
  white-space: nowrap;
}

.itemInfo__value {
  text-align: right;
}

.itemInfo__spoiler {
  margin-top: 30px;
  background: none;
  border: none;
  padding: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  color: $color-text-style;
  cursor: pointer;
  outline: none;
  
  &--opened::after {
    transform: rotate(180deg);
  }

  &::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 6px;
    margin-left: 0.5em;
    vertical-align: middle;
    background-image: $icon-spoiler-arrow;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

