.itemStats {
  display: flex;
  flex-wrap: wrap;
}

.itemStats--listing {
  .itemStats__stat {
    lost-column: 1/4 4 10px;
    margin-bottom: 0;

    &:nth-child(n + 5) {
      margin-top: 10px;
    }

    @include media(msl) {
      &:nth-child(n) {
        padding: 0;
        border: none;
      }
    }

    @include media(msp) {
      lost-column: 1/1;
      &:not(.itemStats__stat--important) {
        display: none;
      }
    }
  }

  .itemStats__value {
    font-size: 12px;

    @include media(mtl-only) {
      font-size: 11px;
    }

    @include media(msl) {
      font-size: 13px;
    }

    &::before {
      margin-right: 5px;
      width: 21px;
      height: 21px;
      background-position-y: 100%;

      //@include media(mtl-only) {
      //  width: 14px;
      //  height: 14px;
      //}
      //
      //@include media(msl) {
      //  width: 21px;
      //  height: 21px;
      //}
    }

    &--territory::before {
      background-image: url(../images/territory.svg);
      width: 21px;
    }

    &--area::before {
      background-image: url(../images/area.svg);
      width: 14px;
    }

    &--bedrooms::before {
      background-image: url(../images/bed.svg);
      width: 20px;
    }

    &--bathrooms::before {
      background-image: url(../images/shower.svg);
      width: 16px;
    }

    &--newBuilding::before {
      background-image: url(../images/new-building.svg);
      width: 20px;
    }

    &--sleepPlace::before {
      background-image: url(../images/sleep-place.svg);
      width: 21px;
    }

    &--beach::before {
      background-image: url(../images/beach.svg);
      width: 20px;
    }
  }

  .itemStats__label {
    font-size: 10px;

    @include media(msl) {
      font-size: 11px;
    }
  }
}

.itemStats--service {
  .itemStats__stat {
    margin-bottom: 0;
    margin-right: 0;

    @include media(msl) {
      padding: 0;
    }
  }
}

.itemStats__stat {
  margin-bottom: 30px;
  margin-right: 50px;

  //@include media(msl) {
  //  lost-column: 1/4;
  //}

  @include media(msl) {
    lost-column: 1/2 2 0;
    margin-bottom: 0;
    padding: 20px 15px 20px 20px;
    box-sizing: border-box;


    &:nth-child(2n) {
      padding-left: 30px;
      border-left: 1px solid #e2e3e5;
    }

    &:nth-child(n + 3) {
      border-top: 1px solid #e2e3e5;
    }
  }

  &--catalog-hide {
    display: none;
  }
}

.itemStats__value {
  line-height: 1.1;
  margin-bottom: 3px;
  white-space: nowrap;

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 29px;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }

  &--territory::before {
    background-image: url(../images/territory.svg);
    width: 26px;
    //height: 22px;
  }

  &--area::before {
    background-image: url(../images/area.svg);
    width: 19px;
    //height: 23px;
  }

  &--bedrooms::before {
    background-image: url(../images/bed.svg);
    width: 27px;
    //height: 21px;
  }

  &--bathrooms::before {
    background-image: url(../images/shower.svg);
    width: 24px;
    //height: 24px;
  }

  &--newBuilding::before {
    background-image: url(../images/new-building.svg);
    width: 23px;
    //height: 23px;
  }

  &--sleepPlace::before {
    background-image: url(../images/sleep-place.svg);
    width: 29px;
    //height: 29px;
  }

  &--beach::before {
    background-image: url(../images/beach.svg);
    width: 28px;
    //height: 28px;
  }

}

.itemStats__label {
  color: $color-text-light;
  font-size: 12px;
  line-height: 1.2;

  @include media(msp) {
    font-size: 14px;
  }
}


