.lang {
  @include list-reset;
  line-height: 1;
  font-weight: 300;


}

.lang--horizontal {
  display: flex;
  align-items: center;

  @include media(msp) {
    justify-content: center;
  }

  .lang__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.lang__item {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.lang__link {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.2s;

  &:hover {
    text-decoration: underline;
  }
  
  &--active {
    font-weight: 600;
    text-decoration: underline;
  }
}

