.menuFooter {}

.menuFooter__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @include media(msp) {
    display: block;
  }
}

.menuFooter__item {
  lost-column: 1/2;
  margin-bottom: 10px;

  @include media(msp) {
    lost-column: 1/1;
    margin-bottom: 15px;
  }
}

.menuFooter__link {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.2s;

  &:hover {
    color: $color-style;
  }
}

