.menu {
  @include list-reset;
  display: flex;
  font-weight: 600;

  @include media(mtl) {
    display: block;
    text-align: left;
  }

  @include media(msl) {
    font-size: 16px;
  }

  @include media(msp) {
    text-align: center;
  }
}

.menu__list {
  @include list-reset;
  display: flex;
  align-items: flex-end;

  @include media(mtl) {
    display: block;
  }
}

.menu__item {
  margin-right: 5px;
  transition-duration: 0.2s;
  border-radius: 8px;

  @include media(mtl) {
    margin-right: 0;
  }

  &:hover {
    background-color: #fff;

    
    >.menu__link {
      background-color: #fff;
    }

    >.menu__subMenu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--parent {
    position: relative;
    z-index: 1;
    border-radius: 8px 8px 0 0;
  }
}

.menu__link {
  text-decoration: none;
  line-height: 1;
  color: $color-title;
  padding: 10px 15px;
  border-radius: 8px;
  transition-duration: 0.2s;
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  @include media(mtl) {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    border-radius: 0;
    width: 100%;
  }

  @include media(msp) {
    font-size: 18px;
    display: inline-block;
    width: auto;
    font-weight: 800;
    padding: 14px 0;
  }

  &:hover {
    color: $color-style;
  }

  &--parent {
    padding-right: 30px;

    @include media(msp) {
      padding-right: 0;
    }

    &::after {
      content: '';
    }
  }

  &::after {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 15px;
    transform: translateY(calc(-50% + 1px));
    width: 8px;
    height: 6px;
    background-image: $icon-small-arrow;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include media(mtl) {
      top: 0.9em;
      transform: none;
    }

    @include media(msp) {
      position: static;
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 11px;
      margin-left: 10px;
    }
  }
}

.menu__subMenu {
  @include list-reset;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  max-width: 200px;
  min-width: 185px;
  background-color: #fff;
  border-radius: 0 8px 8px 8px;
  overflow: hidden;
  box-shadow: $shadow;
  padding: 10px 0;

  visibility: hidden;
  transform: translateY(-20px);
  opacity: 0;
  transition-duration: 0.2s;

  @include media(mtl) {
    position: static;
    display: none;
    padding: 0 0 20px 20px;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  @include media(msp) {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
  }

  &--opened {
    display: block;
  }

  .menu__link {
    font-size: 14px;
    font-weight: 500;
  }
}

