.mobMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(#3d426d, 0.55);

  transition-duration: 0.4s;
  opacity: 0;
  visibility: hidden;
  

}

.mobMenu--opened {
  visibility: visible;
  opacity: 1;

  .mobMenu__inner {
    transform: translateX(0);

  }
}

.mobMenu__inner {
  width: 320px;
  padding: 18px 30px 40px 40px;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  pointer-events: auto;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(-110%);
  transition-duration: 0.4s;

  @include media(msp) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

.mobMenu__logoAndClose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.mobMenu__logo {
  width: 150px;
  padding-bottom: 10px;
}

.mobMenu__close {
  display: block;
  padding: 0;
  border: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: $icon-close-white;
  background-color: $color-title;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  transition-duration: 0.2s;
  outline: none;

  @include media(msp) {
    width: 40px;
    height: 40px;
    background-image: $icon-mob-menu-white;
  }

  &:hover {
    background-color: $color-style;
  }
}

.mobMenu__button {
  /*display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  position: relative;
  border: none;
  color: $color-button-empty;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  //background-image: url(../images/mob-menu.svg);
  //background-repeat: no-repeat;
  //background-position: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  @include media(mtl) {
    width: 40px;
    height: 40px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
    transition-duration: 0.5s;
  }

  &:hover {
    .mobMenu__line {
      transform: scalex(2) translate(-220px, -55px);
    }

    .mobMenu__line--2 {
      transition-duration: 0.2s;
    }

    .mobMenu__line--3 {
      transition-duration: 0.4s;
    }
  }

  &--opened {
    box-shadow: none;

    &::after {
      width: 350vh;
      height: 350vh;
    }
  }

  svg {
    display: block;
    width: 10px;
    margin-right: auto;
    margin-left: auto;

    @include media(mtl) {
      width: 13px;
    }
  }*/
  overflow: hidden;
}

.mobMenu__line {
  &--2 {
    transition-duration: 0.4s;
  }
  &--3 {
    transition-duration: 0.2s;
  }
}

.mobMenu__menu {}

.mobMenu__buttons {}

.mobMenu__contacts {
  display: none;

  position: relative;
  margin-top: auto;
  padding-top: 30px;

  @include media(msp) {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110vw;
    height: 5px;
    background-color: #e3e3f0;
  }
}

.mobMenu__contact {
  font-size: 18px;
  color: $color-title;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
}

.mobMenu__lang {
  margin-top: 40px;
  display: none;

  @include media(msl) {
    display: block;
  }

  @include media(msp) {
    margin-top: 10px;
  }
}


