.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;

  opacity: 0;
  visibility: hidden;

  &--opened {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
  }
}

.modal__inner {
  @include grid;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  //position: relative;
  //top: 50%;
  //transform: translateY(-50%);
  pointer-events: none;

  @include media(msp) {
    padding: 0;
    margin: 0;
  }
}

.modal__content {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: auto;

  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 60px 70px 55px;

  @include media(msp) {
    min-height: 100%;
    border-radius: 0;
    padding: 65px 10px 55px;
  }
}

.modal__form {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.modal__title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;

  @include media(msl) {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.modal__dscr {
  opacity: 0.5;
  margin-bottom: 30px;
  text-align: center;

  @include media(msp) {
    max-width: 16em;
    margin-right: auto;
    margin-left: auto;
  }
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.8);
  pointer-events: auto;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  background-image: $icon-close;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  line-height: 1;
  font-size: 0;
  cursor: pointer;
  transition-duration: 0.2s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
