.pager {
  @include list-reset;
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1;
  color: $color-text-light;
}

.pager__item {}

.pager__link,
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 35px;
  color: inherit;
  text-decoration: none;
  border-radius: 6px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  &--active,
  &.current,
  &:hover {
    box-shadow: $shadow-pager-active;
    color: $color-style;
  }
}

.pager__link--arrow,
.prev,
.next {
  box-shadow: $shadow-pager;

  &:hover {
    svg {
      fill: $color-style;
    }
  }

  svg {
    fill: $color-text-light;
  }
}

.pager__link--prev {}

.pager__link--next {}

