.principle {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../images/bg/bg-principle-2.jpg);
  background-color: $color-title;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  @include media(msl) {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}

.principle__inner {}

.principle__heading {
  color: inherit;
  margin-bottom: 55px;
}

.principle__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.principle__item {
  lost-column: 1/4 4 50px;
  margin-bottom: 50px;
  font-weight: 600;
  line-height: 1.375;

  @include media(mtp) {
    lost-column: 1/4 4 30px;
    font-size: 14px;
  }

  @include media(msl) {
    lost-column: 1/2 2 30px;
  }

  @include media(msp) {
    lost-column: 1/1;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  &::before {
    content: '';
    display: block;
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    box-shadow: 0 2px 40px rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    @include media(mtp) {
      width: 70px;
      height: 70px;
    }

    @include media(msp) {
      width: 90px;
      height: 90px;
    }
  }

  &:nth-child(1)::before {
    background-image: url(../images/support.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/hand.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/file.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/customer-service.svg);
  }
}

