.receiveConsultation {
  margin-top: 65px;
  margin-bottom: 60px;
}

.receiveConsultation--findHouse {
  margin-bottom: 80px;

  .receiveConsultation__heading {
    max-width: 29em;
  }

}

.receiveConsultation__dscr {
  color: $color-text-light;
  font-size: 12px;
  margin-top: -25px;
  margin-bottom: 30px;

  @include media(msl) {
    text-align: center;
    margin-top: -20px;
  }
}

.receiveConsultation__inner {
  box-sizing: border-box;
  background-color: $color-bg-light;
  border: 14px solid #fff;
  box-shadow: $shadow-body, $shadow-body-inset;
  padding: 55px 50px 60px;

  @include media(mtl) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media(mtp) {
    padding: 30px 30px 40px;
  }

  @include media(msl) {
    border-width: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  @include media(msp) {
    border-width: 8px;
    padding: 55px 12px 20px;
  }
}

.receiveConsultation__heading {
  font-size: 26px;
  margin-bottom: 40px;
  max-width: 22em;

  @include media(mtp) {
    margin-bottom: 30px;
  }

  @include media(msl) {
    text-align: center;
  }

  @include media(msp) {
    font-size: 28px;
  }
}

.receiveConsultation__form {}
