.roundButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  position: relative;
  border: none;
  color: $color-button-empty;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  //background-image: url(../images/mob-menu.svg);
  //background-repeat: no-repeat;
  //background-position: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  @include media(mtl) {
    width: 40px;
    height: 40px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
    transition-duration: 0.5s;

    @include media(mtl) {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    .mobMenu__line {
      transform: scalex(2) translate(-220px, -55px);
    }

    .mobMenu__line--2 {
      transition-duration: 0.2s;
    }

    .mobMenu__line--3 {
      transition-duration: 0.4s;
    }
  }

  &--opened {
    box-shadow: none;

    &::after {
      width: 350vh;
      height: 350vh;
    }
  }

  svg {
    display: block;
    width: 10px;
    margin-right: auto;
    margin-left: auto;

    @include media(mtl) {
      width: 13px;
    }
  }
}