.serviceTiter {
  margin-bottom: 125px;

  @include media(mtp) {
    margin-top: 30px;
  }

  @include media(msl) {
    margin-bottom: 70px;
  }
}

.serviceTiter--buy {
  .serviceTiter__image {
    top: 100px;

    @include media(mtl) {
      width: 420px;
      margin-right: 20px;
    }

    @include media(mtp) {
      width: 280px;
    }

    @include media(msl) {
      top: unset;
      margin-top: 50px;
    }

    &::before {
      content: 'Покупка';
      bottom: -75px;
      left: 15%;

      @include media(mtp) {
        bottom: -35px;
        left: 35%;
      }
    }

    img {
      width: 489px;
      right: unset;
      left: 50px;
      bottom: 30px;

      @include media(mtl) {
        width: 400px;
        right: unset;
        left: 30px;
      }


      @include media(mtp) {
        width: 290px;
        left: 15px;
        bottom: 15px;
      }

      @include media(msp) {
        width: 275px;
      }
    }
  }

  .serviceTiter__heading {
    width: 110%;

    @include media(mtl) {
      width: 100%;
    }
  }
}


.serviceTiter__inner {
  position: relative;
  padding-right: 430px;

  @include media(mtl) {
    padding-right: 48%;
  }

  @include media(mtp) {
    padding-right: 41%;
  }

  @include media(msl) {
    padding-right: 10px;
  }
}

.serviceTiter__heading {
  font-size: 56px;
  margin-bottom: 20px;

  @include media(mtl) {
    font-size: 46px;
  }

  @include media(msl) {
    font-size: 36px;
  }

  @include media(msp) {
    font-size: 32px;
  }
}

.serviceTiter__body {
  @include usual-list;
  font-size: 18px;
  line-height: 1.444;
  color: $color-title;
  padding-right: 60px;

  @include media(mtp) {
    font-size: 16px;
    padding-right: 40px;
  }

  @include media(msl) {
    font-size: 14px;
    padding-right: 0;
  }
}

.serviceTiter__button {
  margin-top: 30px;
}

.serviceTiter__main {
  width: 63%;

  @include media(mtl) {
    width: 53%;
  }


}

.serviceTiter__image {
  position: absolute;
  top: 90px;
  right: 0;
  width: 440px;
  height: 440px * 0.6364;
  flex-shrink: 0;
  box-shadow: $shadow-body, $shadow-body-inset;
  border: 14px solid #ffffff;
  box-sizing: border-box;

  @include media(mtl) {
    right: 20px;
  }

  @include media(mtp) {
    width: 280px;
    height: 280px * 0.6364;
    border-width: 8px;
  }

  @include media(msl) {
    position: relative;
    top: unset;
    right: unset;
    margin-bottom: 40px;
  }

  &::before {
    content: 'Аренда';
    position: absolute;
    color: #f6f9fe;
    font-size: 87px;
    font-weight: 800;
    line-height: 1;
    bottom: -55px;
    left: 33%;
    z-index: -1;

    @include media(mtl) {
      left: 14%;
    }

    @include media(mtp) {
      font-size: 37px;
      left: 36%;
      bottom: -36px;
    }

  }

  img {
    position: absolute;
    width: auto;
    right: 0;
    bottom: 40px;

    @include media(mtp) {
      width: 200px;
      bottom: 10px;
    }
  }
}

