.serviceFeatures {
  text-align: center;
  margin-bottom: 80px;
}

.serviceFeatures__inner {}

.serviceFeatures__heading {
  margin-bottom: 45px;
}

.serviceFeatures__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media(msl) {
    display: block;
  }
}

.serviceFeatures__item {
  width: 33.333%;
  box-sizing: border-box;
  padding: 0 50px;
  color: $color-title;
  font-size: 18px;
  line-height: 1.3333;

  @include media(mtl) {
    font-size: 16px;
    padding: 0 30px;
  }

  @include media(mtp) {
    font-size: 14px;
  }

  @include media(msl) {
    width: auto;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;

    &:nth-child(n + 2) {
      margin-top: 30px;
    }
  }

  @include media(msp) {
    font-size: 12px;
  }

  &::before {
    content: '';
    display: block;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    @include media(mtp) {
      width: 55px;
      height: 55px;
    }

    @include media(msl) {
      margin-bottom: 15px;
    }
  }
}

.serviceFeatures__item--greeting::before {
  background-image: url(../images/greeting.svg);
  width: 148px;

  @include media(mtp) {
    width: 100px;
  }
}

.serviceFeatures__item--house::before {
  background-image: url(../images/house.svg);
}

.serviceFeatures__item--heartInHands::before {
  background-image: url(../images/heart-in-hands.svg);
}

.serviceFeatures__item--support::before {
  background-image: url(../images/support.svg);
}

.serviceFeatures__item--customerService::before {
  background-image: url(../images/customer-service.svg);
}


