.servicesCard {
  box-shadow: $shadow-body, $shadow-body-inset;
  background-color: #fff;
  border: 14px solid #ffffff;
  transition-duration: 0.2s;
  padding: 60px 40px 50px;
  box-sizing: border-box;
  height: 100%;

  @include media(mtl) {
    padding: 40px 20px 30px;
  }

  @include media(msl) {
    border-width: 8px;
  }

  &:hover {
    border-color: $color-style;

    .servicesCard__title a {
      color: $color-style;

      &::after {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &--questions {
    text-align: center;
    box-shadow: $shadow-body;

    .servicesCard__body {
      opacity: 0.5;
    }
  }
}

.servicesCard__title {
  color: $color-title;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  margin-bottom: 20px;
  transition-duration: 0.2s;

  @include media(mtp) {
    font-size: 30px;
  }

  @include media(msl) {
    font-size: 22px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &::after {
      content: '';
      display: inline-block;
      width: 22px;
      height: 13px;
      margin-left: 15px;
      vertical-align: middle;
      background-image: $icon-title-arrow;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition-duration: 0.2s;
      transform: translateX(-20px);
      opacity: 0;
    }

  }
}

.servicesCard__body {
  @include usual-list;

  @include media(mtp) {
    font-size: 14px;
  }

  @include media(msl) {
    font-size: 12px;
  }
}

.servicesCard__button {
  margin-top: 20px;
  font-size: 14px;
  padding: 1.3em 3.2em;
}

