.services {
  padding-top: 80px;
  padding-bottom: 90px;

  @include media(msl) {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}

.services__inner {}

.services__heading {
  text-align: center;
  margin-bottom: 50px;

  @include media(msl) {
    margin-bottom: 35px;
  }
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media(msl) {
    display: block;
  }
}

.services__item {
  width: 40%;
  margin-bottom: 65px;

  @include media(msl) {
    width: 100%;
    margin-bottom: 20px;
  }

  &:nth-child(4n - 2),
  &:nth-child(4n - 1) {
    width: 52%;

    @include media(msl) {
      width: 100%;
    }
  }
}

