.servicePopular {
  margin-bottom: 80px;
}

.servicePopular__inner {}

.servicePopular__heading {
  margin-bottom: 25px;
}

.servicePopular__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include media(msp) {
    display: block;
  }
}

.servicePopular__item {
  width: (300 / 1170 * 100%);
  flex-shrink: 0;

  @include media(mtp) {
    width: calc(33.333% - 20px);
  }

  @include media(msl) {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }

  @include media(msp) {
    width: 100%;
  }

  &:last-child {
    width: (180 / 1170 * 100%);

    @include media(mtp) {
      width: 100%;
      margin-top: 30px;
    }

    @include media(msl-only) {
      width: calc(50% - 5px);
      margin-top: 0;
    }
  }
}

.servicePopular__find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  height: 100%;
  border-radius: 6px;
  background-color: #f2f4f9;
  color: $color-title;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
  transition-duration: 0.2s;

  @include media(msl-only) {
    padding: 75px 0;
  }

  @include media(msp) {
    padding: 25px 0 45px;
  }

  &:hover {
    background-color: darken(#f2f4f9, 4%);
  }

  &::after {
    content: '';
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 64px;
    height: 64px;
    box-shadow: 0 25px 25px rgba(69, 117, 224, 0.2);
    border-radius: 50%;
    background-color: $color-style;
    background-image: url(../images/find-pane-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px 24px;
    background-position: center;
  }
}

