.serviceService {
  margin-bottom: 80px;
}

.serviceService__inner {
}

.serviceService__wrp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media(msl) {
    display: block;
  }
}

.serviceService__image {
  width: 620px;
  margin-right: -90px;
  flex-shrink: 0;
  position: relative;

  @include media(mtl) {
    width: 45%;
  }

  @include media(msl) {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 95%;
    left: 20%;
    width: 175px;
    height: 160px;
    background-image: url(../images/keys.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;

    @include media(mtl) {
      width: 75px;
      height: 80px;
    }
  }
}

.serviceService__main {
  background-color: #fff;
  margin-top: 60px;
  box-sizing: border-box;
  padding: 50px 45px 60px 70px;
  box-shadow: $shadow-body;
  position: relative;

  @include media(msl) {
    margin-top: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 35px 20px 50px;
  }
}

.serviceService__heading {
  margin-bottom: 25px;
}

.serviceService__body {
  @include base-ol {
    >li {
      @include media(msp) {
        padding-left: 30px;
      }
    }
    >li::before {
      @include media(msp) {
        font-size: 16px;
        top: 0;
      }
    }

  }

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.serviceService__button {
  margin-left: 35px;
  margin-top: 20px;

  @include media(msp) {
    margin-left: 0;
    width: 100%;
  }
}

