.team {
  padding-top: 160px;
  padding-bottom: 80px;
  text-align: center;
}

.team__inner {}

.team__heading {
  margin-bottom: 40px;
}

.team__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  lost-column: 1/3 3 55px;
  margin-bottom: 60px;

  @include media(mtp) {
    lost-column: 1/3 3 35px;
  }

  @include media(msl) {
    lost-column: 1/2 2 35px;
  }

  @include media(msp) {
    lost-column: 1/1;
    margin-bottom: 30px;
  }
}

.team__image {
  margin-top: 90px;
  margin-bottom: 40px;
  height: 310px;
  display: flex;
  align-items: flex-end;
  box-shadow: $shadow-big, $shadow-big-inset;
  border: 20px solid #ffffff;
  box-sizing: border-box;

  @include media(msl) {
    margin-bottom: 25px;
  }

  img {
    width: auto;
    max-width: 210px;
    margin-right: auto;
    margin-left: auto;

    @include media(mtp) {
      max-width: 100%;
    }

    @include media(msp) {
      max-width: 210px;
    }
  }
}

.team__post {
  color: $color-text-light-2;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team__name {
  color: $color-title;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 10px;

  @include media(mtp) {
    font-size: 22px;
  }
}

.team__body {
  color: $color-text-light-2;
  font-weight: 500;
  line-height: 1.375;
  font-style: italic;

  @include media(mtp) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}
