.textBlock {
  margin-top: 60px;
  margin-bottom: 60px;

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.textBlock--likeVnzAddInfo {
  .textBlock__inner {
    padding: 0 40px;
  }
}

.textBlock__inner {}

.textBlock__heading {
  font-size: 36px;
  margin-bottom: 25px;

  @include media(mtp) {
    font-size: 26px;
  }

  @include media(msp) {
    font-size: 22px;
  }
}

.textBlock__body {
  @include usual-list;
  @include base-ol {
    li::before {
      font-size: 18px;
      top: 0.02em;
    }
  };
}

.textBlock__iconList {
  @include list-reset;
  margin-top: 30px;
}

.textBlock__iconListItem {
  margin-bottom: 25px;
  position: relative;
  padding-left: 62px;
  min-height: 40px;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--cash::before {
    background-image: url(../images/cash.svg);
  }

  &--briefcase::before {
    background-image: url(../images/briefcase.svg);
  }

  &--talk::before {
    background-image: url(../images/talk.svg);
  }

  &--calender::before {
    background-image: url(../images/calender.svg);
  }
}



