.titer {
  //padding-top: 190px;
  padding-top: 160px;
  padding-bottom: 220px;
  //height: 100vh;
  min-height: 630px;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  background-image: linear-gradient(180deg, #daedff 0%, #4da3dc 100%);
  background-color: #daedff;
  overflow: hidden;

  @media (min-width: 1500px) {
    min-height: 900px;
  }

  @include media(mtp) {
    padding-top: 150px;
    min-height: 540px;
  }

  @include media(msl) {
    padding-top: 120px;
    padding-bottom: 210px;
    min-height: unset;
  }

  @include media(msp) {
    padding-top: 120px;
    padding-bottom: 270px;
  }

}

.titer--animate {
  .titer__bg {
    transform: translateY(0);
    opacity: 1;
  }

  .titer__cloud {
    transform: translateY(0);
    opacity: 1;
  }

  .titer__heading {
    transform: translateY(0);
    opacity: 1;
  }
}

.titer__inner {
  position: relative;
}

.titer__heading {
  //text-shadow: 0 2px 11px rgba(0, 0, 0, 0.23);
  //font-size: 80px;
  font-size: 52px;
  line-height: 1.075;
  //color: inherit;
  color: $color-title;
  //margin-bottom: 210px;
  max-width: 9em;

  transition-duration: 1s;
  transition-delay: 2.2s;
  transform: translateY(200px);
  opacity: 0;
  position: relative;
  z-index: 6;
  //text-shadow: 0 0 20px rgba(#fff, 0.3);

  @media (min-width: 1500px) {
    padding-top: 40px;
    font-size: 60px;
  }

  @include media(mtl) {
    //font-size: 78px;
    //margin-bottom: 120px;
  }

  @include media(mtp) {
    //font-size: 68px;
    //margin-bottom: 80px;
  }

  @include media(msl) {
    font-size: 32px;
    //margin-bottom: 60px;
  }
}

.titer__body {
  color: #000000;
  font-size: 26px;
  line-height: 1.231;
  max-width: 20em;
  margin-bottom: 30px;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msl) {
    font-size: 20px;
  }
}

.titer__button {}

.titer__projects {
  position: absolute;
  top: -138px;
  left: 470px;
  pointer-events: none;

  @include media(mtl) {
    left: 390px;
  }

  @include media(mtp) {
    top: -70px;
    left: 230px;
    transform: scale(0.7);
  }

  @include media(msl) {
    display: none;
  }
}

.titer__bySupport {
  margin-top: 100px;

  @include media(mtp) {
    margin-top: 80px;
  }
}

.titer__cloud {
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;

  transition-duration: 0.8s;
  transform: translateY(100px);
  opacity: 0;
}

.titer__cloud--1 {
  top: 20px;
  left: -210px;
  width: 369px;
  height: 213px;
  background-image: url(../images/clouds/cloud-1.png);
  transition-delay: 1.4s;

  @include media(mtl) {
    top: 20px;
    left: -130px;
  }

  @include media(msl) {
    top: -10px;
    left: -180px;
  }
}

.titer__cloud--2 {
  top: 340px;
  left: 140px;

  width: 133px;
  height: 71px;
  background-image: url(../images/clouds/cloud-2.png);
  transition-delay: 1.6s;

  @media (min-width: 1500px) {
    top: 390px;
    left: -10px;
  }

  @include media(mtl) {
    top: 300px;
    left: 140px;
  }

  @include media(mtp) {
    top: 270px;
  }

  @include media(msl) {
    top: 150px;
    left: -30px;
  }

  @include media(msp) {
    top: 120px;
    left: 50px;
  }
}

.titer__cloud--3 {
  top: -30px;
  left: 530px;
  width: 213px;
  height: 213px;
  background-image: url(../images/clouds/cloud-3.png);
  transition-delay: 1s;

  @include media(mtl) {
    top: -180px;
    left: 410px;
  }

  @include media(mtp) {
    top: -170px;
    left: 310px;
  }

  @include media(msl) {
    width: 110px;
    height: 120px;
    top: -100px;
    left: 150px;
  }
}

.titer__cloud--4 {
  top: -40px;
  right: -110px;
  width: 394px;
  height: 328px;
  background-image: url(../images/clouds/cloud-4.png);
  transition-delay: 1.2s;

  @include media(mtl) {
    top: -60px;
    right: -30px;
  }

  @include media(mtp) {
    top: -100px;
    right: -160px;
  }

  @include media(msl) {
    width: 294px;
    height: 220px;
    top: -110px;
    right: -160px;
  }

  @include media(msp) {
    width: 234px;
  }
}

.titer__bg {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: url(../images/bg/main-titer-2.png);
  background-repeat: no-repeat;
  //background-size: 1500px;
  //background-position: calc(50% - 20px) 120px;

  background-size: 100% auto;
  background-position: center calc(100% + 30px);

  z-index: 3;
  transition-duration: 1.1s;
  transform: translateY(50%);
  opacity: 0;

  @media (min-width: 1500px) {
    //background-size: 2030px;
    //background-position: calc(50% - 52px) 20px;
    background-position: center bottom;
  }

  @include media(mtl) {
    //background-position-x: -180px;
    background-position: center bottom;
  }

  @include media(mtp) {
    //background-size: 1200px;
    //background-position: -95px 100px;
  }

  @include media(msl) {
    background-image: url(../images/bg/main-titer@800.png);
    background-size: 800px auto;
    background-position-x: right;
  }

  @include media(msp) {
    background-image: url(../images/bg/main-titer@480.png);
    background-size: 480px auto;
    background-position-x: right;
  }
}

