.useful {
  padding-top: 80px;
  padding-bottom: 130px;
  background-image: url(../images/useful-map.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) center;

  @include media(mtp) {
    background-size: 490px;
  }

  @include media(msl) {
    padding-top: 50px;
    padding-bottom: 60px;
    background-size: 450px;
    background-position: calc(50% + 300px) calc(50% + 40px);
  }

  @include media(msp) {
    background-size: 450px;
    background-position: calc(50% + 250px) calc(50% + 40px);

  }
}

.useful__inner {}

.useful__heading {
  margin-bottom: 25px;
}

.useful__body {
  font-size: 18px;
  line-height: 1.444;
  color: $color-title;
  max-width: 790px;
  padding: 60px 280px 60px 60px;
  box-sizing: border-box;
  box-shadow: $shadow-body, $shadow-body-inset;
  border: 14px solid #ffffff;
  //background-image: url(../images/useful-dots-body.svg);
  //background-repeat: no-repeat;
  //background-position: 100% center;

  @include media(msl) {
    border-width: 8px;
    padding: 15px 17px 45px;
    font-size: 12px;
  }
}

