.vnzTypesCard {
  @include usual-list {
    li::before {
      top: 0.3em;
      width: 10px;
      height: 10px;

      @include media(msp) {
        width: 7px;
        height: 7px;
      }
    }
  }
  color: inherit;
  text-decoration: none;
  border: 14px solid #fff;
  box-shadow: $shadow-body, $shadow-body-inset;
  box-sizing: border-box;
  height: 100%;
  padding: 35px 45px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media(mtp) {
    border-width: 10px;
    padding: 30px 30px 15px;
  }

  @include media(msp) {
    border-width: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }
}

.vnzTypesCard--active {
  border-color: $color-style;
}

.vnzTypesCard__title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  max-width: 10em;
  margin: 0 auto 20px;
  flex-grow: 1;

  @include media(mtp) {
    font-size: 22px;
  }

  @include media(msp) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.vnzTypesCard__list {
  @include list-reset;
}

.vnzTypesCard__item {
}

.vnzTypesCard__value {
  display: block;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.vnzTypesCard__label {
  display: block;
  font-size: 12px;
  color: #979797;
}

