.vnzAddInfo {
  margin-top: 60px;
  margin-bottom: 60px;
}

.vnzAddInfo__inner {
  padding: 50px 40px 50px;
  //border: 14px solid #fff;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: $shadow-body;

  @include media(mtl) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media(msl) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px 15px 30px;
  }
}

.vnzAddInfo__heading {
  font-size: 26px;
  margin-bottom: 30px;

  @include media(msp) {
    text-align: center;
    font-size: 22px;
  }
}

.vnzAddInfo__body {
  @include usual-list {
    li {
      padding-left: 40px;

      @include media(msp) {
        padding-left: 20px;
      }
    }
  }
  @include base-ol {
    > li {
      padding-left: 40px;

      @include media(msp) {
        padding-left: 30px;
      }
    }

    > li::before {
      font-size: 18px;
      top: 0.03em;

      @include media(msp) {
        top: -0.07em;
        font-size: 14px;
      }
    }
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.vnzAddInfo__image {
  float: right;

  @include media(mtp) {
    max-width: 280px;
  }

  @include media(msl) {
    display: none;
  }
}

.vnzAddInfo__image--termsInvestor {
  margin-top: -100px;
  position: relative;
  box-shadow: 9px 11px 47px rgba(0, 0, 0, 0.18);
  z-index: 1;
  margin-left: 80px;
  margin-bottom: 100px;

  &::before {
    content: url(../images/handshake.svg);
    position: absolute;
    z-index: -1;
    left: -60px;
    top: 70px;

    @include media(mtp) {
      transform: scale(0.7);
      left: -70px;
      top: 40px;
    }
  }

  &::after {
    content: url(../images/vnz-img-label.svg);
    position: absolute;
    z-index: -1;
    right: -10px;
    bottom: -160px;

    @include media(mtp) {
      transform: scale(0.7);
      bottom: -140px;
    }
  }
}

.vnzAddInfo__image--terms {
  margin-top: -124px;
  margin-left: -60px;
  position: relative;
  z-index: 1;

  &::before {
    content: '%';
    position: absolute;
    z-index: -1;
    left: 80px;
    bottom: 0;
    font-size: 170px;
    line-height: 1;
    font-weight: 800;
    color: #f6f9fe;

    @include media(mtp) {
      font-size: 110px;
      left: 80px;
    }
  }
}

