.vnzAdvantages {
  margin-top: 60px;
  margin-bottom: 100px;
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: $color-bg-light;
  text-align: center;

  @include media(msl) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.vnzAdvantages--3cols {

  .vnzAdvantages__list {
    @include media(msl) {
      max-width: 320px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .vnzAdvantages__item {
    lost-column: 1/3 3 60px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 18px;

    @include media(mtl) {
      padding-left: 0;
      padding-right: 0;
    }

    @include media(mtp) {
      lost-column: 1/3 3 30px;
      font-size: 14px;
    }

    @include media(msl) {
      lost-column: 1/1;
      font-size: 16px;
    }

    @include media(msp) {
      font-size: 14px;
    }
  }
}

.vnzAdvantages__inner {}

.vnzAdvantages__heading {
  margin-bottom: 55px;
  font-size: 36px;

  @include media(mtp) {
    font-size: 26px;
    margin-bottom: 35px;
  }
}

.vnzAdvantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vnzAdvantages__item {
  lost-column: 1/5 5 30px;
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 1.375;
  font-size: 14px;

  @include media(mtp) {
    lost-column: 1/3 3 30px;
  }

  @include media(msl) {
    lost-column: 1/2 2 30px;
  }

  @include media(msp) {
    lost-column: 1/1;
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  &::before {
    content: '';
    display: block;
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    box-shadow: 0 2px 40px rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    @include media(mtp) {
      width: 70px;
      height: 70px;
    }

    @include media(msp) {
      width: 90px;
      height: 90px;
    }
  }

  &--calender::before {
    background-image: url(../images/calender.svg);
  }

  &--calenderSheet::before {
    background-image: url(../images/calender-sheet.svg);
  }

  &--personBriefcase::before {
    background-image: url(../images/person-briefcase.svg);
  }

  &--bills::before {
    background-image: url(../images/bills.svg);
  }

  &--navigation::before {
    background-image: url(../images/navigation.svg);
  }

  &--file::before {
    background-image: url(../images/file.svg);
  }

  &--care::before {
    background-image: url(../images/care.svg);
  }
}

.vnzAdvantages__addtext {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7143;
  color: $color-text-light;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msl) {
    font-size: 14px;
  }
}
