.vnzTypes {
  margin-top: 80px;
  margin-bottom: 70px;

  @include media(msl) {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }

  .tns-inner {
    padding-bottom: 30px;
  }
}

.vnzTypes__inner {}

.vnzTypes__list {
  @include list-reset;
  display: flex;
  justify-content: center;
}

.vnzTypes__item {
  width: 460px;

  @include media(mtl) {
    width: 43%;
  }

  @include media(mtp) {
    width: 50%;
  }

  &:first-child {
    margin-right: 70px;

    @include media(mtp) {
      margin-right: 30px;
    }
  }
}

.vnzTypes__dots {
  position: static;
  transform: none;
}

.vnzTypes__dot {
  width: 10px;
  height: 10px;
  border: 1px solid #efefef;
  border-radius: 1px;
  padding: 0;
  margin: 0 7.5px;

  &.tns-nav-active {
    background-color: $color-style;
    border-color: $color-style;
  }
}

