.vnzTiter {
  margin-bottom: 120px;

  @include media(msl) {
    text-align: center;
    margin-bottom: 60px;
  }

  @include media(msp) {
    margin-bottom: 40px;
  }
}

.vnzTiter__inner {
  display: flex;
  justify-content: space-between;
}

.vnzTiter__main {
  margin-top: 50px;
}

.vnzTiter__heading {
  font-size: 56px;
  margin-bottom: 25px;

  @include media(mtp) {
    font-size: 36px;
  }

  @include media(msp) {
    font-size: 28px;
    max-width: 8em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
}

.vnzTiter__dscr {
  font-size: 18px;
  line-height: 1.444;

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.vnzTiter__image {
  flex-shrink: 0;
  width: 440px;
  height: 280px;
  margin-left: 130px;
  border: 14px solid #fff;
  box-shadow: $shadow-body, $shadow-body-inset;
  box-sizing: border-box;
  position: relative;

  @include media(mtp) {
    width: 40%;
    height: 27vw;
    margin-left: 70px;
  }

  @include media(msl) {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    font-size: 87px;
    line-height: 1;
    font-weight: 800;
    color: #f6f9fe;
    z-index: -1;

    @include media(mtp) {
      font-size: 7vw;
    }
  }

  &::before {
    content: 'Вид на';
    top: 60%;
    left: -1.839em;
  }

  &::after {
    content: 'жительство';
    top: calc(60% + 1em);
    left: 0;
  }

  img {
    position: absolute;
    top: -30px;
    left: -10px;
  }
}

