.whyWe {
  margin-bottom: 70px;
}

.whyWe__inner {}

.whyWe__heading {
  margin-bottom: 40px;

  @include media(msl) {
    margin-bottom: 30px;
  }
}

.whyWe__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.whyWe__item {
  width: 47%;
  margin-bottom: 30px;
  position: relative;
  box-sizing: border-box;
  padding-left: 80px;
  font-size: 18px;
  line-height: 1.333;

  @include media(mtp) {
    font-size: 16px;
  }

  @include media(msl) {
    width: 100%;
    font-size: 14px;
    padding-left: 60px;
  }

  @include media(msp) {
    font-size: 12px;
    padding-left: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 49px;
    height: 36px;
    background-image: $icon-tick-big;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include media(msl) {
      width: 32px;
      height: 32px;
    }

    @include media(msp) {
      width: 25px;
      height: 25px;
    }
  }
}

