.footer {
  background-color: $color-bg-footer;
  color: $color-text-footer;
  font-size: 14px;

  @include media(msp) {
    text-align: center;
    font-size: 12px;
  }
}

.footer__inner {
  @include grid;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 35px;

  @include media(msl) {
    display: block;
    padding-top: 40px;
  }
}

.footer__menu {
  max-width: 430px;
}

.footer__contacts {
  text-align: right;

  @include media(msl-only) {
    text-align: left;
  }

  @include media(msl) {
    margin-top: 30px;
  }

  @include media(msp) {
    text-align: center;
  }
}

.footer__copyright {
  border: 1px solid rgba(#515768, 0.3);
}