.header  {
  padding: 35px 35px 45px;
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  color: $color-title;
  font-size: 14px;

  @include media(mtp) {
    padding: 15px 20px 20px;
  }

  @include media(msl) {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  &--bg {
    @include media(msl) {
      background-color: #eee;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  @at-root .page--notfront & {
    position: static;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  align-self: flex-end;
  width: 220px;
  flex-shrink: 0;
  text-decoration: none;
  line-height: 1;
  margin-right: 35px;
  margin-bottom: 6px;

  @include media(msd-2) {
    margin-right: 20px;
    margin-right: 45px;
  }

  @include media(mtl) {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    align-self: auto;
  }

  @include media(mtp) {
    margin-top: 10px;
    width: 150px;
  }

}

.header__filter {
  margin-left: auto;
  margin-right: 10px;
  display: none;

  @include media(msl) {
    display: block;
  }
}

.header__mobMenuButton {
  display: none;
  margin-right: auto;
  align-items: center;

  @include media(mtl) {
    display: flex;
  }

  @include media(mtp) {
    margin: 0 auto 0 0;
  }

  @include media(msl) {
    margin-right: 0;
  }
}

.header__menu {
  margin-right: auto;
  margin-bottom: -6px; // компенсируем из-за того, что у ссылки есть padding
  display: flex;
  align-items: flex-end;

  @include media(mtl) {
    display: none;
  }
}

@mixin header-side-line {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: 0;
    width: 1px;
    background-color: rgba($color-header-border, 0.2);
  }
}

.header__email {
  @include header-side-line;
  margin-left: 55px;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(msd-2) {
    display: none;
  }

  @include media(mtp) {
    padding: 0 25px;
    margin-left: auto;
  }

  @include media(msl) {
    display: none;
  }
}

.header__callWrp {
  @include header-side-line;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media(mtp) {
    padding: 0 25px;
  }

  @include media(msl) {
    display: none;
  }
}

.header__lang {
  @include header-side-line;
  padding-left: 30px;

  @include media(mtp) {
    padding-left: 30px;
  }

  @include media(msl) {
    display: none;
  }
}

.header__label {
  display: block;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 5px;

  &--orderCall {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
  }
}

.header__value {
  font-weight: 600;
  letter-spacing: 0.0629em;
  color: inherit;
  text-decoration: none;
  line-height: 1;
}



