// copyright
+b('copyright')
  +e('inner')
    +e('logo'): img(src="./images/logo@white.svg" alt="Logo Laumar Homes")

    +e('policy')(href="#0" target="_blank") Политика конфиденциальности

    +e('developer') Дизайн и разработка#{' '}
      a(href="#0" target="_blank") insaim