
// footer
+b('footer', { b: 'block' }, 'footer')
  +e('inner', { e: 'block' })

    +e('menu')
      include ../components/menu-footer

    +e('contacts')
      include ../components/contacts-footer

  +e('copyright')
    include copyright
