// header
+b('header', {m: headerMod}, 'header')
  +e('inner')
    +e('logo')(href="/index.html"): img(src="./images/logo.svg" alt="Logo Laumar Homes")

    if headerFilter
      +e('filter', '', 'button')(class="roundButton")
        span.visually-hidden Filter
        include ../../images/filter.svg

    +e('mobMenuButton')
      button.mobMenu__button.roundButton
        span.visually-hidden Меню
        include ../../images/mob-menu.svg
    +e('menu')
      include ../components/menu
    +e('email')
      +e('label') email:
      +e('value')(href="mailto:anna.laumar@gmail.com") anna.laumar@gmail.com
    +e('callWrp')
      +e('label', 'orderCall')(href="#0") Заказать звонок
      +e('value', 'phone')(href="tel:+34629630972") +34&nbsp;629630972
    +e('lang')
      include ../components/lang

